<footer class="cf ph4-ns pt5-ns pb6-ns pv4 pv4-m">
  <div class="mw center">
    <div class="pa4 w-20-ns w-50 w-50-m fl">
      <ul class="footer-nav pl0 list ttu">
        <li><span class="o-60">Communities</span>
          <ul class="list ttu pl2 pt3">
            <li><a href="/communities/soma">West Soma</a></li>
            <li><a href="/communities/mission">Mission</a></li>
          </ul>
        </li>
        <li><a href="/lifestyle">Lifestyle</a></li>
        <li><a href="/story">Our Story</a></li>
        <li><a href="/faq">FAQ</a></li>
      </ul>
    </div>
    <div class="pa4 w-20-ns w-50 w-50-m fl">
      <ul class="footer-nav pl0 list ttu">
        <li><a href="/careers">Careers</a></li>
        <li><a href="/collaborate">Collaborate</a></li>
        <li><a href="https://blog.joinstarcity.com">Blog</a></li>
        <li><a href="/login">Member Login</a></li>
        <li><a href="/terms">Terms</a></li>
        <li><a href="/privacy">Privacy</a></li>
      </ul>
    </div>
    <div class="pa4 w-30-ns w-100 w-100-m fl">
      <h4 class="text-white o-60">Collaborate with us</h4>
      <p>We partner with people and organizations who want to help build and revive urban neighborhoods.</p>
      <a href="/collaborate" class="button button-outline-white mt2">Collaborate With Us</a>
    </div>
    <div class="pa4 w-30-ns w-100 w-100-m fl">
      <h4 class="text-white o-60">Subscribe</h4>
      <p>Get the latest on housing and community development.</p>
      <form action="/newsletter" method="POST">
        <div class="dt">
          <input required class="dtc w-60 input-joined input-large" type="text" placeholder="Your email" name="email">
          <button type="submit" class="dtc button button-white button-joined relative w-40">Subscribe</button>
        </div>
      </form>
    </div>
  </div>
</footer>
