<span>
  <header class="absolute ph5-ns pt4-ns ph3 pt3 w-100 z-max tc tl-l">
    <a href="/" class="absolute relative-l left-2-m left-1 left-0-l">
      <span class="dn">Starcity</span>
      <img src="/assets/svg/logo-white.svg" class="logo">
    </a>
    <a href="/schedule-tour" class="button button-blue fr-l"><span class="text-white">Schedule a Tour</span></a>
    <a href="#" class="menu-button white db dn-l right-1 top-1 top-2-m absolute nt1">Menu</a>
    <ul class="menu db dn-l list pl0 mv0">
      <li><a href="/communities/soma">West SoMa</a></li>
      <li><a href="/communities/mission">Mission</a></li>
      <li><a href="/lifestyle">Lifestyle</a></li>
      <li><a href="/story">Our Story</a></li>
      <li><a href="/signup">Apply</a></li>
    </ul>
  </header>
  <header id="header-scroll" class="animated o-0 header fixed ph4-ns pv0-l pv3 flex-l justify-between-l items-center-l z-max tc w-100">
    <a href="/" class="absolute relative-l left-2-m left-1 left-0-l">
      <span class="dn">Starcity</span>
      <img src="/assets/svg/logo-wordmark.svg" class="logo db-l dn">
      <img src="/assets/svg/logo-black.svg" class="logo dn-l db w2 nt1">
    </a>
    <nav class="nav">
      <a href="/lifestyle">Lifestyle</a>
      <div class="has-dropdown dib">Communities
        <div class="dropdown pa2 tl">
          <div class="w-50 fl">
            <a href="/communities/soma" class="dib pv3 ph3">
              <img src="/assets/img/soma-navbar.jpg" class="mb2">
              West Soma
            </a>
          </div>
          <div class="w-50 fl">
            <a href="/communities/mission" class="dib pv3 ph3">
              <img src="/assets/img/mission-room.jpg" class="mb2">
              The Mission
            </a>
          </div>
        </div>
      </div>
      <a href="/story">Our Story</a>
      <a href="/signup">Apply</a>
      <a href="/login">Login</a>
    </nav>
    <a href="/schedule-tour" class="button">Schedule a Tour</a>
    <div class="menu-button db dn-l right-1 top-1 absolute nt1">Menu</div>
    <ul class="menu db dn-l list pl0 mv0">
      <li><a href="/communities/soma">West SoMa</a></li>
      <li><a href="/communities/mission">Mission</a></li>
      <li><a href="/lifestyle">Lifestyle</a></li>
      <li><a href="/story">Our Story</a></li>
      <li><a href="/signup">Apply</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </header>
</span>
