{:webserver {:port 8080}

 :datomic   {:schema-dir "datomic/schemas"
             :seed-dir   "datomic/seed"
             :partition  :db.part/user}

 :logger    {:level   :trace
             :logfile "logs/server.log"}

 :nrepl     {:port 7889}

 :plaid     {:webhook "https://starcityproperties.com/webhooks/plaid"}

 :mailchimp {:data-center "us13"
             :lists       {:subscribers "357c7315fb"}}}
