;; NOTE: Toplevel values MUST be maps...will come up with a workaround for this eventually
{:webserver {:port 8080}

 :datomic {:partition :db.part/starcity}

 :log {:level   :trace
       :logfile "logs/server.log"}

 :nrepl {:port 7889}

 :session {:key "notactualsecret!"}

 :plaid {:env "tartan"}

 :mailchimp {:data-center "us13"
             :lists       {:subscribers "357c7315fb"}}}
