{:datomic  {:uri "datomic:mem://localhost:4334/starcity"}

 :hostname "http://localhost:8080"

 :mailgun  {:domain "sandboxeec004e4d33845edaef9b962843713a7.mailgun.org"
            :sender "Mailgun Sandbox <postmaster@sandboxeec004e4d33845edaef9b962843713a7.mailgun.org>"}

 :plaid    {:webhook "http://requestb.in/1by9aip1"}}
