{:logger   {:level   :info
            :logfile "/var/log/starcity-web/server.log"}

 :hostname "https://joinstarcity.com"

 :mailgun  {:domain "mg.joinstarcity.com"
            :sender "Starcity <team@joinstarcity.com>"}

 :plaid    {:env     "production"
            :webhook "https://joinstarcity.com/webhooks/plaid"}}
