{:server-port     3449
 :css-dirs        ["resources/public/assets/css"]
 :builds-to-start ["admin" "apply" "mars"]
 :builds
 [{:id           "admin"
   :source-paths ["src/cljs/admin" "src/cljs/starcity"]
   :figwheel     {:on-jsload admin.core/run}
   :compiler     {:main                 admin.core
                  :preloads             [devtools.preload]
                  :asset-path           "/js/cljs/admin/out"
                  :output-to            "resources/public/js/cljs/admin.js"
                  :output-dir           "resources/public/js/cljs/admin/out"
                  :verbose              false
                  :source-map           true
                  :optimizations        :none
                  :source-map-timestamp true
                  :external-config
                  {:devtools/config
                   {:features-to-install    [:formatters :hints]
                    :fn-symbol              "ƒ"
                    :print-config-overrides true}}}}

  {:id           "apply"
   :source-paths ["src/cljs/apply" "src/cljs/starcity"]
   :figwheel     {:on-jsload apply.core/run}
   :compiler     {:main                 apply.core
                  :preloads             [devtools.preload]
                  :asset-path           "/js/cljs/apply/out"
                  :output-to            "resources/public/js/cljs/apply.js"
                  :output-dir           "resources/public/js/cljs/apply/out"
                  :verbose              false
                  :source-map           true
                  :optimizations        :none
                  :source-map-timestamp true
                  :external-config
                  {:devtools/config
                   {:features-to-install    [:formatters :hints]
                    :fn-symbol              "ƒ"
                    :print-config-overrides true}}}}
  {:id           "mars"
   :source-paths ["src/cljs/mars" "src/cljs/starcity"]
   :figwheel     {:on-jsload mars.core/run}
   :compiler     {:main                 mars.core
                  :preloads             [devtools.preload]
                  :asset-path           "/js/cljs/mars/out"
                  :output-to            "resources/public/js/cljs/mars.js"
                  :output-dir           "resources/public/js/cljs/mars/out"
                  :verbose              false
                  :source-map           true
                  :optimizations        :none
                  :source-map-timestamp true
                  :external-config
                  {:devtools/config
                   {:features-to-install    [:formatters :hints]
                    :fn-symbol              "ƒ"
                    :print-config-overrides true}}}}]}
