[{:db/id              #db/id[:db.part/user]
  :account/email      "test@test.com"
  :account/password   "bcrypt+blake2b-512$30e1776f40ee533841fcba62a0dbd580$12$2dae523ec1eb9fd91409ebb5ed805fe53e667eaff0333243"
  :account/first-name "Josh"
  :account/last-name  "Lehman"
  :account/approved   true
  :account/activated  true}]
