[
 ;; =============================================================================
 ;; Community Fitness Preferences


 {:db/id                              #db/id [:db.part/user -100]
  :community-fitness-preference/title "Monthly Block Parties"}

 {:db/id                                    #db/id [:db.part/user -101]
  :community-fitness-preference/title       "Volunteer Opportunities"
  :community-fitness-preference/description "Volunteer opportunities in your local neighborhood."}

 {:db/id                              #db/id [:db.part/user -102]
  :community-fitness-preference/title "Garden Space"}

 {:db/id                              #db/id [:db.part/user -103]
  :community-fitness-preference/title "Bike Rentals"
  :community-fitness-preference/notes ["Price is just a daily deposit."]
  :community-fitness-preference/price 10.0}

 ;; =============================================================================
 ;; Available Leases

 {:db/id                 #db/id [:db.part/user -300]
  :available-lease/term  1
  :available-lease/price 2000.0}
 {:db/id                 #db/id [:db.part/user -301]
  :available-lease/term  12
  :available-lease/price 1950.0}
 {:db/id                 #db/id [:db.part/user -302]
  :available-lease/term  24
  :available-lease/price 1900.0}

 ;; =============================================================================
 ;; Units

 {:db/id             #db/id [:db.part/user -400]
  :unit/name         "Room 1"
  :unit/description  "A room at 52 Gilbert."
  :unit/floor        2
  :unit/available-on #inst "2016-09-01T00:00:00.000-00:00"
  :unit/dimensions   {:unit-dimension/height 10.0
                      :unit-dimension/length 10.0
                      :unit-dimension/width  10.0}}

 {:db/id             #db/id [:db.part/user -401]
  :unit/name         "Room 2"
  :unit/description  "A room at 52 Gilbert."
  :unit/floor        2
  :unit/available-on #inst "2016-10-01T00:00:00.000-00:00"
  :unit/dimensions   {:unit-dimension/height 10.0
                      :unit-dimension/length 10.0
                      :unit-dimension/width  10.0}}

 {:db/id             #db/id [:db.part/user -402]
  :unit/name         "Room 3"
  :unit/description  "A room at 52 Gilbert."
  :unit/floor        2
  :unit/available-on #inst "2016-09-01T00:00:00.000-00:00"
  :unit/dimensions   {:unit-dimension/height 10.0
                      :unit-dimension/length 10.0
                      :unit-dimension/width  10.0}}

 {:db/id             #db/id [:db.part/user -403]
  :unit/name         "Room 4"
  :unit/description  "A room at 52 Gilbert."
  :unit/floor        2
  :unit/available-on #inst "2016-09-01T00:00:00.000-00:00"
  :unit/dimensions   {:unit-dimension/height 10.0
                      :unit-dimension/length 10.0
                      :unit-dimension/width  10.0}}

 {:db/id             #db/id [:db.part/user -404]
  :unit/name         "Room 5"
  :unit/description  "A room at 52 Gilbert."
  :unit/floor        2
  :unit/available-on #inst "2016-09-01T00:00:00.000-00:00"
  :unit/dimensions   {:unit-dimension/height 10.0
                      :unit-dimension/length 10.0
                      :unit-dimension/width  10.0}}

 {:db/id             #db/id [:db.part/user -405]
  :unit/name         "Room 6"
  :unit/description  "A room at 52 Gilbert."
  :unit/floor        1
  :unit/available-on #inst "2016-09-01T00:00:00.000-00:00"
  :unit/dimensions   {:unit-dimension/height 10.0
                      :unit-dimension/length 10.0
                      :unit-dimension/width  10.0}}

 ;; =============================================================================
 ;; Properties

 {:db/id                  #db/id [:db.part/user -200]
  :property/name          "Gilbert"
  :property/internal-name "alpha"
  :property/units
  [#db/id [:db.part/user -400]
   #db/id [:db.part/user -401]
   #db/id [:db.part/user -402]
   #db/id [:db.part/user -403]
   #db/id [:db.part/user -404]
   #db/id [:db.part/user -405]]
  :property/available-community-fitness-preferences
  [#db/id [:db.part/user -100]
   #db/id [:db.part/user -101]
   #db/id [:db.part/user -102]
   #db/id [:db.part/user -103]]
  :property/available-leases
  [#db/id [:db.part/user -300]
   #db/id [:db.part/user -301]
   #db/id [:db.part/user -302]]}]
