;; =============================================================================
;; Address
;; =============================================================================

[
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :address/lines
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/many
  :db/doc                "Address lines."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :address/state
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :address/city
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :address/postal-code
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db.install/_attribute :db.part/db}
 ]
