;; =============================================================================
;; Application

[{:db/id #db/id[:db.part/db]
  :db/ident :rental-application/applicant
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Reference to the applicant's account."
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :rental-application/created-on
  :db/valueType :db.type/instant
  :db/cardinality :db.cardinality/one
  :db/doc "The time at which the application was created."
  :db.install/_attribute :db.part/db}]
