;; =============================================================================
;; Application

[
 ;; NOTE"" The following attributes will be useful when we implement a system to
 ;; allow multiple people to live in a single room.

 ;; {:db/id                 #db/id[:db.part/db]
 ;;  :db/ident              :rental-application/invitations
 ;;  :db/valueType          :db.type/string
 ;;  :db/cardinality        :db.cardinality/many
 ;;  :db/doc                "A list of emails that invitations to join this application have been sent to."
 ;;  :db.install/_attribute :db.part/db}

 ;; {:db/id                 #db/id[:db.part/db]
 ;;  :db/ident              :rental-application/master
 ;;  :db/valueType          :db.type/ref
 ;;  :db/cardinality        :db.cardinality/one
 ;;  :db/doc                "Reference to the master application if this application is part of another application."
 ;;  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :rental-application/current-address
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/isComponent        true
  :db/doc                "Applicant's current address."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :rental-application/desired-lease
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/isComponent        true
  :db/doc                "Desired type of lease (reference to available-lease of property)."
  :db.install/_attribute :db.part/db}

 ;; NOTE: Will cross-check these dates with currently available units later in
 ;; the application process.
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :rental-application/desired-availability
  :db/valueType          :db.type/instant
  :db/cardinality        :db.cardinality/many
  :db/doc                "Desired availability dates."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :rental-application/pet
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/isComponent        true
  :db/doc                "Applicant's pet."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :rental-application/community-fitness
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/isComponent        true
  :db/doc                "Reference to the community fitness questionnaire."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :rental-application/completed-at
  :db/valueType          :db.type/instant
  :db/cardinality        :db.cardinality/one
  :db/doc                "The time at which the application was completed."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :rental-application/unit-preferences
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/isComponent        true
  :db/doc                "The preferences for units."
  :db.install/_attribute :db.part/db}

 ;; =============================================================================
 ;; Pets

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :pet/type
  :db/valueType          :db.type/keyword
  :db/cardinality        :db.cardinality/one
  :db/doc                "The type of pet."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :pet/breed
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "The pet's breed."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :pet/weight
  :db/valueType          :db.type/long
  :db/cardinality        :db.cardinality/one
  :db/doc                "The weight of the pet."
  :db.install/_attribute :db.part/db}

 ;; =============================================================================
 ;; unit-preference

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :unit-preference/unit
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Reference to the unit."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :unit-preference/preference
  :db/valueType          :db.type/long
  :db/cardinality        :db.cardinality/one
  :db/doc                "Preference for this unit -- lower number is a higher preference."
  :db.install/_attribute :db.part/db}

 ;; =============================================================================
 ;; community-fitness

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :community-fitness/prior-community-housing
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/fulltext           true
  :db/doc                "Response to: 'Have you ever lived in community housing?'"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :community-fitness/skills
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/fulltext           true
  :db/doc                "Response to: 'What skills or traits do you hope to share with the community?'"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :community-fitness/why-coliving
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/fulltext           true
  :db/doc                "Response to: 'Why are you interested in coliving?'"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :community-fitness/preferences
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/isComponent        true
  :db/doc                "Preferences for add-ons to this property."
  :db.install/_attribute :db.part/db}]
