;; =============================================================================
;; community-fitness-preference
;; =============================================================================

[
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :community-fitness-preference/title
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Title for the preference."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :community-fitness-preference/description
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Description of the preference."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :community-fitness-preference/notes
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/many
  :db/doc                "Notes about pricing/offering."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :community-fitness-preference/price
  :db/valueType          :db.type/float
  :db/cardinality        :db.cardinality/one
  :db/doc                "Price of the preference."
  :db.install/_attribute :db.part/db}
 ]
