;; =============================================================================
;; Lease
;; =============================================================================

[{:db/id                 #db/id[:db.part/db]
  :db/ident              :lease/term
  :db/valueType          :db.type/long
  :db/cardinality        :db.cardinality/one
  :db/doc                "The term of the lease in months."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :lease/price
  :db/valueType          :db.type/float
  :db/cardinality        :db.cardinality/one
  :db/doc                "The price of the lease per month."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :lease/commencement-date
  :db/valueType          :db.type/instant
  :db/cardinality        :db.cardinality/one
  :db/doc                "The date that this lease takes effect."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :lease/end-date
  :db/valueType          :db.type/instant
  :db/cardinality        :db.cardinality/one
  :db/doc                "The date that this lease ends."
  :db.install/_attribute :db.part/db}]
