;; =============================================================================
;; Member Application

[{:db/id                 #db/id[:db.part/db]
  :db/ident              :member-application/current-address
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/isComponent        true
  :db/doc                "Applicant's current address."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :member-application/desired-lease
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/isComponent        true
  :db/doc                "Desired type of lease (reference to available-lease of property)."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :member-application/desired-availability
  :db/valueType          :db.type/instant
  :db/cardinality        :db.cardinality/one
  :db/doc                "Desired availability."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :member-application/pet
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/isComponent        true
  :db/doc                "Applicant's pet."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :member-application/community-fitness
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/isComponent        true
  :db/doc                "Reference to the community fitness questionnaire."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :member-application/locked
  :db/valueType          :db.type/boolean
  :db/cardinality        :db.cardinality/one
  :db/doc                "Indicates whether or not the application is locked for edits."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :member-application/submitted-at
  :db/valueType          :db.type/instant
  :db/cardinality        :db.cardinality/one
  :db/doc                "The time at which the application was submitted."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :member-application/approved
  :db/valueType          :db.type/boolean
  :db/cardinality        :db.cardinality/one
  :db/doc                "Indicates whether or not the application has been approved or not by an administrator."
  :db.install/_attribute :db.part/db}

 ;; =============================================================================
 ;; Pets

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :pet/type
  :db/valueType          :db.type/keyword
  :db/cardinality        :db.cardinality/one
  :db/doc                "The type of pet."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :pet/breed
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "The pet's breed."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :pet/weight
  :db/valueType          :db.type/long
  :db/cardinality        :db.cardinality/one
  :db/doc                "The weight of the pet."
  :db.install/_attribute :db.part/db}

 ;; =============================================================================
 ;; community-fitness

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :community-fitness/prior-community-housing
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/fulltext           true
  :db/doc                "Response to: 'Have you ever lived in community housing?'"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :community-fitness/skills
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/fulltext           true
  :db/doc                "Response to: 'What skills or traits do you hope to share with the community?'"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :community-fitness/why-coliving
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/fulltext           true
  :db/doc                "Response to: 'Why are you interested in coliving?'"
  :db.install/_attribute :db.part/db}]
