<main class="overflow-hidden w-100 w-100-m center z-1 relative fade-in tc">
  <div class="hero hero-watercolor hero-watercolor-purple z--1 absolute w-100"></div>
  <article class="w-70-ns ph4-ns pv6 mw center">
    <div class="w-100 ph4 pb3">
      <h1 class="f-5-ns f2 f1-m text-purple mb4">Collaborate with Us</h1>
      <p class="lead">Starcity is always looking for local real-estate partners, community stakeholders, vendors and passionate investors. If you're interested in working with Starcity on a new or existing project, please reach out to us.</p>
    </div>
    <div class="ph4 pb3">
      <div class="alerts w-80 center pb3"></div>
      <form class="w-80-ns w-100 center" action="/collaborate" method="POST">
        <div class="select input-blue w-100 input-large mb3">
          <select required name="type">
            <option selected disabled value="">What kind of collaborator are you?</option>
            <option value="real-estate">Real Estate Partner</option>
            <option value="community-stakeholder">Community Stakeholder</option>
            <option value="vendor">Vendor</option>
            <option value="investor">Investor</option>
          </select>
        </div>
        <input class="input-blue w-100 input-large mb3" required name="email" type="email" placeholder="What's your email address?"/>
        <textarea required name="message" rows="5" class="input-blue w-100 input-large mb3" placeholder="Leave us a message."></textarea>
        <button type="submit" class="button button-green db mt4-l mt3 mb6">Get in Touch</button>
      </form>
    </div>
  </article>
</main>
