<main class="overflow-hidden">

  <div class="hero hero-watercolor hero-watercolor-blue absolute w-100 z--1"></div>
  <section class="hero ph5-ns pt6 pb0-ns" style="margin: 5rem auto">
    <h1 class="text-blue f1-ns f1 tc w-50-ns w-80 w-80-m center">Coming Soon</h1>
    <p class="lead text-blue tc w-50-ns w-80 w-80-m center">Get the latest on upcoming buildings <br>in the works and follow along for updates.</p>
  </section>

  <section class="cf ph4-ns pv3 mw center">
    <div class="fl w-third-l w-100 ph4 pb3 relative">
      <img src="/assets/img/coming-soon/oakland.jpg" alt="Oakland Building">
      <h2 class="text-green relative">Oakland</h3>
      <p class="mb4 f6">Situated in City Center Oakland, this location is a historic Hotel conversion that will also feature a bar, restaurant and coffee shop on the ground floor and be ready for occupancy in Winter 2018.</p>
      <a class="button button-green dib" data-modal="learn-more">
        <span class="text-white">Learn More</span>
      </a>
    </div>
    <div class="fl w-third-l w-100 ph4 pb3 relative">
      <img src="/assets/img/coming-soon/fidi.jpg" alt="Financial District">
      <h2 class="text-purple relative">Financial District</h3>
      <p class="mb4 f6">Ideally located in the middle of the action, Starcity FiDi is a former-commuter's haven with access to the top jobs in the world at your footstep. Couple that with the bustling downtown restaurant scene and you’re where all the action is. This location will be ready for occupancy in Summer 2018.</p>
      <a class="button button-purple dib" data-modal="learn-more">
        <span class="text-white">Learn More</span>
      </a>
    </div>
    <div class="fl w-third-l w-100 ph4 pb3 relative">
      <img src="/assets/img/coming-soon/union-square.jpg" alt="Union Square">
      <h2 class="text-yellow relative">Union Square</h3>
      <p class="mb4 f6">Centrally placed in the heart of San Francisco, this fifty member location is a historic, converted Turkish bath house and will feature amazing communal space, roof deck and walking access to all the best that the city has to offer. This location will be ready for occupancy in Summer 2018. </p>
      <a class="button button-yellow dib" data-modal="learn-more">
        <span class="text-white">Learn More</span>
      </a>
    </div>
  </section>

  <section class="cf ph4-ns pv3 mw center">
    <div class="fl w-third-l w-100 ph4 pb3 relative">
      <img src="/assets/img/coming-soon/jackson-square.jpg" alt="Jackson Square">
      <h2 class="text-blue relative">Jackson Square</h3>
      <p class="mb4 f6">The most idyllic neighborhood in San Francisco with Gold Rush-era architecture and quaint tree-lined streets. It’s the oldest established historic district and the future Starcity location honors that tradition. This location will be ready for occupancy in Winter 2019. </p>
      <a class="button button-blue dib" data-modal="learn-more">
        <span class="text-white">Learn More</span>
      </a>
    </div>
    <div class="fl w-third-l w-100 ph4 pb3 relative">
      <img src="/assets/img/coming-soon/north-beach.jpg" alt="North Beach">
      <h2 class="text-green relative">North Beach</h3>
      <p class="mb4 f6">Nestled on the border of Jackson Square and North Beach, this smaller brick and timber conversion will be a sanctuary for the downtown habitant who wants to enjoy an easy stroll to work. This location will be ready for occupancy in Winter 2018.</p>
      <a class="button button-green dib" data-modal="learn-more">
        <span class="text-white">Learn More</span>
      </a>
    </div>
  </section>

  </div>

  <img class="w-100 lh-solid db" src="/assets/img/bg-watercolor-blue2.jpg">
  <a name="result"></a>
  <section class="tc pb5 pt3 hero bg-blue text-white">
    <h1 class="w-50-ns w-80 w-80-m center mb0 f1">
      <span class="relative dib">
        <svg class="sketch white w2 right--3 nr4 right-0 top--3 nt3"> <use xlink:href="#asterisks" /></svg>
        <svg class="sketch white w2 right--3 top--2 nt3"> <use xlink:href="#curl" /></svg>
        <svg class="sketch white w2 left--3 top--2-l nt3 top--2"> <use xlink:href="#asterisks2" /></svg>
        <svg class="sketch white w3 left--4-l top-0-l top-0 left--3"> <use xlink:href="#curl3" /></svg>
        Where do you want<br> to see Starcity next?
      </span>
    </h1>
    <p class="lead w-60-ns w-80 w-80-m center mb5">Choose cities you think would benefit from<br> Starcity bringing communities together.</p>
    <!-- <p class="lead w-60-ns w-80 w-80-m center mb5">{city options go here}</p> -->
    <div class="alerts align-center w-50 w-50-ns center pb3"></div>
    <!-- <form id="suggest-cities"> -->
    <form action="/communities/coming-soon#result" method="POST">
      <div class="w-50-ns flex-row flex-wrap space-between center mb5 align-left">

        <div class="flex-child-33">
          <div class="fancy-checkbox mb2">
            <input type="checkbox" id="denver" name="denver" />
            <label for="denver">Denver</label>
          </div>
        </div>

        <div class="flex-child-33">
          <div class="fancy-checkbox mb2">
            <input type="checkbox" id="austin" name="austin" />
            <label for="austin">Austin</label>
          </div>
        </div>

        <div class="flex-child-33">
          <div class="fancy-checkbox mb2">
            <input type="checkbox" id="chicago" name="chicago" />
            <label for="chicago">Chicago</label>
          </div>
        </div>

        <div class="flex-child-33">
          <div class="fancy-checkbox mb2">
            <input type="checkbox" id="newyork" name="newyork" />
            <label for="newyork">New York</label>
          </div>
        </div>

        <div class="flex-child-33">
          <div class="fancy-checkbox mb2">
            <input type="checkbox" id="portland" name="portland" />
            <label for="portland">Portland</label>
          </div>
        </div>

        <div class="flex-child-33">
          <div class="fancy-checkbox mb2">
            <input type="checkbox" id="seattle" name="seattle" />
            <label for="seattle">Seattle</label>
          </div>
        </div>

        <div class="flex-child-33">
          <div class="fancy-checkbox mb2">
            <input type="checkbox" id="boston" name="boston" />
            <label for="boston">Boston</label>
          </div>
        </div>

        <div class="flex-child-33">
          <div class="fancy-checkbox mb2">
            <input type="checkbox" id="minneapolis" name="minneapolis" />
            <label for="minneapolis">Minneapolis</label>
          </div>
        </div>

        <div class="flex-child-33">
          <div class="fancy-checkbox mb2">
            <input type="checkbox" id="losangeles" name="losangeles" />
            <label for="losangeles">Los Angeles</label>
          </div>
        </div>

        <div class="flex-child-100">
          <div class="mt4 mb2 align-center">
            <p>Got a different city (or cities) in mind? Enter it here:</p>
            <!-- <label for="other mr2">Other</label> -->
            <input type="text" class="input-large"
                   style="width: 350px"
                   id="other" name="other"
                   placeholder="e.g. Dallas, Atlanta">
          </div>
        </div>
      </div>

      <!-- <a id="submit-suggestions" href="" class="button button-white dib mb4">Submit</a> -->
      <button type="submit" class="button button-white dib mb4">Submit</button>
    </form>
  </section>
</main>


<div class="modal-overlay" id="oakland">
  <div class="modal-container">
    <div class="modal-content">
      <a class="text-green modal-close-btn">&#9587;</a>
      <div class="columns">
        <div class="column is-half">
          <p class="handwriting text-green mb0">Winter 2018</p>
          <h2 class="text-green mt2 mb4">Oakland</h3>
          <h4>Coming Soon</h4>
          <p class="mb4">The most idyllic neighborhood in San Francisco with Gold Rush-era architecture and quaint tree-lined streets. It’s the oldest established historic district and the future Starcity location honors that tradition. This location will be ready for occupancy in Winter 2019.</p>
          <p class="mb4">
            Stay up to date on this property and more by <a href="#subscribe" onclick="goToSubscribe()">subscribing to our newsletter.</a>
          </p>
        </div>
        <div class="column is-half">

        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal-overlay" id="fidi">
  <div class="modal-container">
    <div class="modal-content">
      <a class="text-purple modal-close-btn">&#9587;</a>
      <div class="columns">
        <div class="column is-half">
          <p class="handwriting text-purple mb0">Summer 2018</p>
          <h2 class="text-purple mt2 mb4">Financial District</h3>
          <h4>Coming Soon</h4>
          <p class="mb4">The most idyllic neighborhood in San Francisco with Gold Rush-era architecture and quaint tree-lined streets. It’s the oldest established historic district and the future Starcity location honors that tradition. This location will be ready for occupancy in Winter 2019.</p>
          <p class="mb4">
            Stay up to date on this property and more by <a href="#subscribe" onclick="goToSubscribe()">subscribing to our newsletter.</a>
          </p>
        </div>
        <div class="column is-half">

        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal-overlay" id="union-square">
  <div class="modal-container">
    <div class="modal-content">
      <a class="text-yellow modal-close-btn">&#9587;</a>
      <div class="columns">
        <div class="column is-half">
          <p class="handwriting text-yellow mb0">Summer 2018</p>
          <h2 class="text-yellow mt2 mb4">Union Square</h3>
          <h4>Coming Soon</h4>
          <p class="mb4">The most idyllic neighborhood in San Francisco with Gold Rush-era architecture and quaint tree-lined streets. It’s the oldest established historic district and the future Starcity location honors that tradition. This location will be ready for occupancy in Winter 2019.</p>
          <p class="mb4">
            Stay up to date on this property and more by <a href="#subscribe" onclick="goToSubscribe()">subscribing to our newsletter.</a>
          </p>
        </div>
        <div class="modal-gallery column is-half">
          <div class="columns">
            <div class="column">img 1</div>
          </div>
          <div class="columns">
            <div class="column is-half">img 2</div>
            <div class="column is-half">img 3</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal-overlay" id="jackson-square">
  <div class="modal-container">
    <div class="modal-content no-pad">
      <div class="modal-pad">
        <a class="text-blue modal-close-btn">&#9587;</a>
        <p class="handwriting text-blue mb0">Winter 2019</p>
        <h2 class="text-blue mt2 mb2">Jackson Square</h3>
      </div>
      <div class="modal-pad bg-blue">
        <p class="mb4 text-white">
          Stay up to date on this property and more by subscribing to our newsletter.</a>
        </p>
        <form action="/newsletter" method="POST"></form>
          <div class="dt mt4 mb2 align-center centered">
            <!-- <label for="other mr2">Other</label> -->
            <input required id="subscribe" class="dtc w-60 input-joined input-large" type="text" placeholder="Your email" name="email">
            <button type="submit" class="dtc button button-white button-joined relative w-40">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal-overlay" id="north-beach">
  <div class="modal-container">
    <div class="modal-content no-pad">
      <div class="modal-pad">
        <a class="text-green modal-close-btn">&#9587;</a>
        <p class="handwriting text-green mb0">Winter 2018</p>
        <h2 class="text-green mt2 mb2">North Beach</h3>
      </div>
      <div class="modal-pad bg-green">
        <div class="columns">
          <div class="column is-one-third">
            <p class="mb4 text-white">
              Stay up to date on this property and more by subscribing to our newsletter.</a>
            </p>
          </div>
          <div class="column is-two-thirds">
            <form action="/newsletter" method="POST"></form>
              <div class="dt mt4 mb2 align-center centered">
                <!-- <label for="other mr2">Other</label> -->
                <input required id="subscribe" class="dtc w-60 input-joined input-large" type="text" placeholder="Your email" name="email">
                <button type="submit" class="dtc button button-white button-joined relative w-40">Subscribe</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal-overlay" id="learn-more">
  <div class="modal-container">
    <div class="modal-content no-pad">
      <div class="modal-pad">
        <a class="text-blue modal-close-btn">&#9587;</a>
        <p class="handwriting text-blue mb0">Newsletter</p>
        <h2 class="text-blue mt2 mb2">Be the first to hear about it!</h3>
      </div>
      <div class="modal-pad bg-blue">
        <p class="mb4 text-white">
          Stay up to date on this property and more by subscribing to our newsletter.</a>
        </p>
        <form action="/newsletter" method="POST"></form>
          <div class="dt mt4 mb2 align-center centered">
            <!-- <label for="other mr2">Other</label> -->
            <input required id="subscribe" class="dtc w-60 input-joined input-large" type="text" placeholder="Your email" name="email">
            <button type="submit" class="dtc button button-white button-joined relative w-40">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
