{% extends "base.html" %}

<!-- CONTENT -->
{% block content %}
<div class="hero hero-watercolor hero-watercolor-purple z-0 absolute w-100"></div>
<main class="w-80-ns w-100 w-100-m center z-1 relative tc fade-in">
  <article class="ph4-ns pt6 mw center min-vh-100">
    <div class="w-100 ph4-ns ph4 pb3">
      <h1 class="f-5-ns f2 f1-m text-blue mb4">Forgotten password?</h1>
      <p class="w-80 center lead text-blue">Enter your email and we'll send you a new one.</p>
    </div>
    <div class="ph4 pb3">
      <div class="w-50 center pb3">
        {% include "partials/errors.html" %}
      </div>
      <form class="w-50-ns w-100 center" method="POST" action="/forgot-password">
        <input required class="input-blue w-100 input-large mb3" type="email" name="email" placeholder="Email address">
        <button type="submit" class="button db mt4-l mt3 mb6">Reset</button>
        <a href="/login" class="ml2">Log In</a>
      </form>
    </div>
  </article>
</main>
{% endblock %}
