<main class="overflow-hidden w-100 w-100-m center z-1 relative tc fade-in">
  <div class="hero hero-watercolor hero-watercolor-yellow z--1 absolute w-100"></div>
  <article class="w-90-ns ph4-ns pt6 mw center min-vh-100">
    <div class="w-100 ph4-ns ph4 pb3">
      <h1 class="f-5-ns f2 f1-m text-red mb4">Invalid activation link</h1>
      <p class="w-80 center lead text-red">
        Well that's a bummer. Reach out to us at <a href="mailto:team@joinstarcity.com">team@joinstarcity.com</a> to
        get things figured out.
        <p>
    </div>
  </article>
</main>
