<main class="overflow-hidden">
  <section class="hero hero-community hero-mission pv6-l pb4 pt6 relative overflow-hidden fade-in">
    <h1 class="mission-font lh-copy text-white f-5-l f1 tc w-50-ns w-80 center mb4">The Mission</h1>
    <p class="lead text-white tc w-50-ns w-80 center">From $1,600 to $2,100 a month</p>
    <svg class="sketch white transform-200 left-0 top-0 db-l dn"> <use xlink:href="#texture-boxes" /></svg>
    <svg class="sketch white transform-200 right-0 top-0 db-l dn"> <use xlink:href="#texture-brick" /></svg>
    <img class="absolute bottom-0" src="/assets/img/bg-watercolor-white2.png">
  </section>
  <section class="cf ph4-ns pv4-ns">
    <div class="w-30-ns w-80 w-80-m center tc pt4">
      <h2 class="text-blue">Join a community in the heart of the Mission</h2>
    </div>
    <div class="w-50-l w-70-m w-90 center tc handwriting pv4">
      <div class="fl w-third-ns w-90 mv0-ns mv4 text-yellow f3">
        <span class="relative">
          <svg class="sketch yellow w2 top--4 left--2 mt4 ml2 rotate-60"> <use xlink:href="#squiggle-triple" /></svg>
          Vibrant
        </span>
      </div>
      <div class="fl w-third-ns w-90 mv0-ns mv4 text-green f3">
        <span class="relative">
          <svg class="sketch green w2 top--3 left--2 nt2"> <use xlink:href="#stars" /></svg>
          Eclectic
          <svg class="sketch green w1 top--2 right--2 nt3"> <use xlink:href="#curl" /></svg>
        </span>
      </div>
      <div class="fl w-third-ns w-90 mv0-ns mv4 text-purple f3">
        <span class="relative">
          <svg class="sketch purple w4 top--3 right--3 nr4 nt2"> <use xlink:href="#texture-dots" /></svg>
          Trendy
        </span>
      </div>
    </div>
    <div class="w-40-ns w-80 w-80-m center tc pv4 relative z-3">
      <p>This community is equipped with the latest smart-home technology, and brand new, fully-furnished rooms with warmth and personality. Every private room comes with all of the essentials — queen bed, wardrobe, sink and high ceilings with plenty of natural light.</p>
    </div>
  </section>
  <section class="relative">
    <div class="watercolor watercolor-green absolute top-0 left-0 w-100 z-0 nt4"></div>
    <div class="cf ph4-ns pt5-ns mw center relative z-3">
      <div class="fl w-two-thirds-l w-100 ph4 pb3">
        <img src="https://unsplash.it/900/450/?random">
      </div>
      <div class="fl w-third-l w-100 ph4 pb5-l pb3">
        <img src="https://unsplash.it/1000/446/?random">
      </div>
      <div class="fl w-third-l w-100 ph4 pb3">
        <img src="https://unsplash.it/1000/446/?random">
      </div>
    </div>
  </section>
  <section class="cf ph4-ns pv4-ns mw center relative z-2">
    <div class="fl w-third-l w-100 ph4 pb3 relative z-2">
      <img src="https://unsplash.it/800/600/?random">
      <p>Every private room comes with all of the essentials — queen or full-sized bed, closet, sink and high ceilings with plenty of natural light.</p>
    </div>
    <div class="fl w-third-l w-100 ph4 pb3 relative z-2">
      <img src="https://unsplash.it/800x/1000/?random">
      <p>Bathrooms are distributed evenly throughout the building so you're never more than a few steps away from a clean shower.</p>
    </div>
    <div class="fl w-third-l w-100 ph4 pb3 relative z-2">
      <img src="https://unsplash.it/800/600/?random">
      <p>We have worked hard to create unique designs that fit the character of the Mission.</p>
    </div>
  </section>
  <section class="cf ph4-ns pv5 tc mw center">
    <h4 class="pv5-l pv3">Events at Mission</h4>
    <div class="tc fl w-third-l w-100 ph4 pb3 relative">
      <h3 class="handwriting text-yellow relative z-999">January</h3>
      <p class="w-90 center relative z-999">Neighborhood outreach - If you have a small business that you think can provide a service or product to Starcity, let us know.</p>
      <svg class="sketch yellow z-1 left-0 nl5 db-l dn nt3"> <use xlink:href="#texture-lines" /></svg>
      <div class="absolute top-0 left-50 w-70 nt4 dib-l dn">
        <img src="/assets/img/circle-watercolor-yellow.jpg" class="relative z-0 left--50">
      </div>
    </div>
    <div class="tc fl w-third-l w-100 ph4 pb3 relative">
      <h3 class="handwriting text-green relative z-999">February</h3>
      <p class="w-90 center relative z-999">Co-sponsored art gallery opening with ArlyOwl featuring select works from San Francisco artists. </p>
      <svg class="sketch green z-1 top--3 left-4 db-l dn"> <use xlink:href="#texture-dots2" /></svg>
      <div class="absolute top-0 left-50 w-70 nt4 dib-l dn">
        <img src="/assets/img/circle-watercolor-green.jpg" class="relative z-0 left--50">
      </div>
    </div>
    <div class="tc fl w-third-l w-100 ph4 pb3 relative">
      <h3 class="handwriting text-blue relative z-999">March</h3>
      <p class="w-90 center relative z-999">First kickoff dinner with new members. </p>
      <svg class="sketch blue z-1 left-0 db-l dn"> <use xlink:href="#texture-lines2" /></svg>
      <div class="absolute top-0 left-50 w-70 nt4 dib-l dn">
        <img src="/assets/img/circle-watercolor-blue.jpg" class="relative z-0 left--50">
      </div>
    </div>
  </section>
  <div class="relative">
    <section class="relative pt6-l">
      <div class="cf ph4-ns pt6-ns mw center relative z-2">
        <div class="fl w-third-l w-100 ph4 pb3-l">
          <h2 class="text-yellow">The Hood</h2>
        </div>
        <div class="fl w-50-l w-100 ph4 pb3">
          <p>Live in a neighborhood with a vibrant cultural history. </p>
          <p>Apart from great food, nightlife, weather and parks, the Mission is known for the beautiful and often politically-charged murals decorating its buildings and alleyways.</p>
        </div>
      </div>
      <div class="watercolor watercolor-yellow2 absolute top-4 ml6 mt6 left--50 rotate-30 w-100 z-1"></div>
    </section>

    <section class="relative">
      <div class="cf ph4-ns pt5-ns mw center relative z-2">
        <svg class="sketch white z-999 transform-200 top-4 mt6 db-ns dn"> <use xlink:href="#texture-boxes" /></svg>
        <svg class="sketch white z-999 transform-150 right-0 top-4 db-ns dn"> <use xlink:href="#texture-brick" /></svg>
        <div class="fl w-two-thirds-l w-100 ph4 pb3">
          <img src="https://unsplash.it/900/450/?random">
        </div>
        <div class="fl w-third-l w-100 ph4 pb5-l pb3">
          <img src="https://unsplash.it/1000/446/?random">
        </div>
        <div class="fl w-third-l w-100 ph4 pb3">
          <img src="https://unsplash.it/1000/446/?random">
        </div>
      </div>
      <div class="cf ph4-ns pt4-ns pb6-ns mw center relative z-2">
        <div class="fl w-third-l w-100 ph4 pb3">
          <img src="https://unsplash.it/800/600/?random">
        </div>
        <div class="fl w-third-l w-100 ph4 pb3">
          <img src="https://unsplash.it/800/600/?random">
        </div>
        <div class="fl w-third-l w-100 ph4 pb3">
          <img src="https://unsplash.it/800/600/?random">
        </div>
      </div>
    </section>

    <section class="cf ph4-ns pv4-ns relative z-2">
      <div class="cf w-40-ns w-80 center tc pt4">
        <h2 class="text-purple">What’s the best thing about living in <span class="handwriting">The Mission?</span></h2>
      </div>
    </section>
    <section class="cf ph4-ns pt4-ns mw center relative z-2">
      <div class="w-third-l w-100 w-90-m fl ph4 mb4-l mb5">
        <div class="w-30-ns fl pr3 pb3 tr-m">
          <span class="relative dib">
            <svg class="sketch blue w3 nl2"> <use xlink:href="#texture-boxes" /></svg>
            <img src="http://unsplash.it/80/80/?random" class="br-100">
          </span>
        </div>
        <div class="w-70-ns fl border-left pl3">
          <p class="mt0">It’s close to <span class="handwriting">EVERYTHING</span> and transportation is the best in the city. You’re always a stone’s throw from a delicious restaurant or cool bar. Out partying? Home is just a short walk away.</p>
          <p class="handwriting text-blue mb1">Josh</p>
          <h4 class="mt0">Starcity Member</h4>
        </div>
      </div>
      <div class="w-third-l w-100 w-90-m fl ph4 mb4-l mb5">
        <div class="w-30-ns fl pr3 pb3 tr-m">
          <span class="relative dib">
            <svg class="sketch purple w3 top--3 right--2"> <use xlink:href="#curl3" /></svg>
            <img src="http://unsplash.it/80/80/?random" class="br-100">
          </span>
        </div>
        <div class="w-70-ns fl border-left pl3">
          <p class="mt0">Ever been to <span class="handwriting">Folsom Street Fair? </span>You're in for a treat...and then some.</p>
          <p class="handwriting text-purple mb1">Cheryl</p>
          <h4 class="mt0">Owner, Citizen's Band</h4>
        </div>
      </div>
      <div class="w-third-l w-100 w-90-m fl ph4 mb4-l mb5">
        <div class="w-30-ns fl pr3 pb3 tr-m">
          <span class="relative dib">
            <svg class="sketch green w2 top--3"> <use xlink:href="#squiggle-triple" /></svg>
            <img src="http://unsplash.it/80/80/?random" class="br-100">
          </span>
        </div>
        <div class="w-70-ns fl border-left pl3">
          <p class="mt0">I like that it’s close to work, and that it’s in a <span class="handwriting">safe</span> part of the city. It’s nice to come home to a quiet place after a long day at the office!</p>
          <p class="handwriting text-green mb1">Ashley</p>
          <h4 class="mt0">Engineer</h4>
        </div>
      </div>
    </section>
    <section class="cf ph4-ns pt4-l pb6-ns w-60-l w-100 center relative z-2">
      <div class="w-50-l w-100 w-90-m fl ph4 mb4-l mb5">
        <div class="w-30-ns fl pr3 pb3 tr-m">
          <span class="relative dib">
            <svg class="sketch yellow w4 left--2 top--1"> <use xlink:href="#line-triple" /></svg>
            <img src="http://unsplash.it/80/80/?random/" class="br-100">
          </span>
        </div>
        <div class="w-70-ns fl border-left pl3">
          <p class="mt0">Three words. <span class="handwriting">Two-minute commute.</span></p>
          <p class="handwriting text-yellow mb1">Strahan</p>
          <h4 class="mt0">Starcity Member</h4>
        </div>
      </div>
      <div class="w-50-l w-100 w-90-m fl ph4 mb4-l mb5">
        <div class="w-30-ns fl pr3 pb3 tr-m">
          <span class="relative dib">
            <svg class="sketch blue w2 top--3 rotate-330 left--1"> <use xlink:href="#hair2" /></svg>
            <img src="http://unsplash.it/80/80/?random" class="br-100">
          </span>
        </div>
        <div class="w-70-ns fl border-left pl3">
          <p class="mt0">It’s close to <span class="handwriting">EVERYTHING</span> and transportation is the best in the city. You’re always a stone’s throw from a delicious restaurant or cool bar. Out partying? Home is just a short walk away.</p>
          <p class="handwriting text-blue mb1">Josh</p>
          <h4 class="mt0">Starcity Member</h4>
        </div>
      </div>
    </section>
    <div class="map map-mission absolute w-100 z-0 bottom-0 right-0"></div>
  </div>
  <section class="tc pv5 hero hero-join4">
    <h1 class="text-white w-30-l w-90 center mb0">
      <span class="relative dib">
        <svg class="sketch white w2 top--3 right-1-l right--2"> <use xlink:href="#curl" /></svg>
        <svg class="sketch white w3 left--3-l left--3 top--1-l top--2 rotate-240"> <use xlink:href="#hair" /></svg>
        <svg class="sketch white w2 left--2-l top-3-l left--1 top-2"> <use xlink:href="#asterisks" /></svg>
        <svg class="sketch white w2 top--3 right--2-l right-0"> <use xlink:href="#asterisks2" /></svg>
        Join<br>Starcity
      </span>
    </h1>
    <p class="text-white lead w-30-l w-90 center mb4">Become a part of our community. Take the first step by scheduling a tour.</p>
    <a href="" class="button button-white dib mb4"><span class="text-black">Schedule a Tour</span></a>
  </section>
</main>
