<main class="overflow-hidden">
  <section class="hero hero-community hero-north-beach pv6-l pb4 pt6 relative overflow-hidden fade-in">
    <h1 class="north-beach-font text-white f-6-l f1 tc w-50-ns w-80 center mb4">North Beach</h1>
    <p class="lead text-white tc w-50-ns w-80 center">From $2100 a month<br>Available January 2018</p>
    <svg class="sketch white transform-200 left-0 top-0 db-l dn"> <use xlink:href="#texture-boxes" /></svg>
    <svg class="sketch white transform-200 right-0 top-0 db-l dn"> <use xlink:href="#texture-brick" /></svg>
    <img class="absolute bottom-0" src="/assets/img/bg-watercolor-white2.png">
  </section>
  <section class="cf ph4-ns pv4-ns">
    <div class="w-30-ns w-80 w-80-m center tc pt4">
      <h2 class="text-blue">Join the community in North Beach</h2>
    </div>
    <div class="w-50-l w-70-m w-90 center tc handwriting pv4">
      <div class="fl w-third-ns w-90 mv0-ns mv4 text-purple f3">
        <span class="relative">
          <svg class="sketch purple w4 top--3 left--2 mt1 ml2"> <use xlink:href="#burst2" /></svg>
          Lively
        </span>
      </div>
      <div class="fl w-third-ns w-90 mv0-ns mv4 text-yellow f3">
        <span class="relative">
          <svg class="sketch yellow w3 top--3 left--3"> <use xlink:href="#texture-brick" /></svg>
          Historic
        </span>
      </div>
      <div class="fl w-third-ns w-90 mv0-ns mv4 text-green f3">
        <span class="relative">
          <svg class="sketch green w2 top--3 left--2 nt2"> <use xlink:href="#stars" /></svg>
          Eccentric
          <svg class="sketch green w1 top--2 right--2 nt3"> <use xlink:href="#curl" /></svg>
        </span>
      </div>
    </div>
    <div class="w-40-ns w-80 w-80-m center tc pv4 relative z-3">
      <p>This community is situated on a quiet alley where North Beach intersects the Financial District and Chinatown. Exposed brick adds character and warmth to the home, and views of the iconic Transamerica Pyramid and Sentinel Building make for a stunning backdrop.</p>
    </div>
  </section>
  <section class="relative">
    <div class="watercolor watercolor-yellow2 absolute top-0 left-0 w-100 z-0 nt4"></div>
    <div class="cf ph4-ns pt5-ns mw center relative z-3">
      <div class="fl w-two-thirds-l w-100 ph4 pb3">
        <img src="/assets/img/north-beach/bed-1000x500.jpg">
      </div>
      <div class="fl w-third-l w-100 ph4 pb5-l pb3">
        <img src="/assets/img/north-beach/tiles-630x280.jpg">
      </div>
      <div class="fl w-third-l w-100 ph4 pb3">
        <img src="/assets/img/north-beach/carpet-630x280.jpg">
      </div>
    </div>
  </section>
  <section class="cf ph4-ns pv4-ns mw center relative z-2">
    <div class="fl w-third-l w-100 ph4 pb3 relative z-2">
      <img src="/assets/img/north-beach/gate-1000x750.jpg">
      <p>The patio, 2 kitchens, dining room and media lounge make an excellent space to stay in with friends, or a great gathering spot before heading out to the surrounding nightlife options.</p>
    </div>
    <div class="fl w-third-l w-100 ph4 pb3 relative z-2">
      <img src="/assets/img/north-beach/bed-750x1125.jpg">
      <p></p>
    </div>
    <div class="fl w-third-l w-100 ph4 pb3 relative z-2">
      <img src="/assets/img/north-beach/cushions-1000x750.jpg">
      <p>Each suite is move-in ready, equipped with a Tuft & Needle mattress, bed, nightstand, dresser, rug, chair and closet with fresh bedding and a towel. Large windows flood the rooms with ample natural light.</p>
    </div>
  </section>
  <section class="cf relative">
    <div class="tc ph4-ns mw center relative z-2">
      <div class="center fl w-third-ns w-100 ph5 pb3-ns">
        <h3 class="text-blue">FLOOR 1</h3>
        <svg id="nott-floor1"></svg>
      </div>
      <div class="center fl w-third-ns w-100 ph5 pb3-ns">
        <h3 class="text-blue">FLOOR 2</h3>
        <svg id="nott-floor2"></svg>
      </div>
      <div class="center fl w-third-ns w-100 ph5 pb3-ns">
        <h3 class="text-blue">FLOOR 3</h3>
        <svg id="nott-floor3"></svg>
      </div>
    </div>
  </section>

  <section class="cf ph4-ns pv5 tc mw center">
    <h4 class="pv5-l pv3">Events at North Beach</h4>
    <div class="tc fl w-third-l w-100 ph4 pb3 relative">
      <h3 class="handwriting text-blue relative z-999">January</h3>
      <p class="w-90 center relative z-999">Barbary Coast Walking Tour</p>
      <svg class="sketch blue z-1 left-3 db-l dn"> <use xlink:href="#texture-dots2" /></svg>
      <div class="absolute top-0 left-50 w-70 nt4 dib-l dn">
        <img src="/assets/img/circle-watercolor-blue.jpg" class="relative z-0 left--50">
      </div>
    </div>
    <div class="tc fl w-third-l w-100 ph4 pb3 relative">
      <h3 class="handwriting text-yellow relative z-999">February</h3>
      <p class="w-90 center relative z-999">Sunday Picnic in Washington Square</p>
      <svg class="sketch yellow z-1 left-0 nl5 db-l dn nt3"> <use xlink:href="#texture-lines" /></svg>
      <div class="absolute top-0 left-50 w-70 nt4 dib-l dn">
        <img src="/assets/img/circle-watercolor-yellow.jpg" class="relative z-0 left--50">
      </div>
    </div>
    <div class="tc fl w-third-l w-100 ph4 pb3 relative">
      <h3 class="handwriting text-purple relative z-999">March</h3>
      <p class="w-90 center relative z-999">An immersive theater experience at <a href="https://www.thespeakeasysf.com/" target="_blanks">Speakeasy SF</a></p>
      <svg class="sketch purple z-1 left-0 db-l dn"> <use xlink:href="#stars" /></svg>
      <div class="absolute top-0 left-50 w-70 nt4 dib-l dn">
        <img src="/assets/img/circle-watercolor-purple.jpg" class="relative z-0 left--50">
      </div>
    </div>
  </section>
  <div class="relative">
    <section class="relative pt6-l">
      <div class="cf ph4-ns pt6-ns mw center relative z-2">
        <div class="fl w-third-l w-100 ph4 pb3-l">
          <h2 class="text-yellow">The Neighborhood</h2>
        </div>
        <div class="fl w-50-l w-100 ph4 pb3">
          <p>With a rich history as the Barbary Coast, the epicenter of the Beat Movement, and a culinary destination for amazing Italian cuisine, North Beach is a destination neighborhood where every corner reveals a story and each block has a multitude of things to do.</p>
        </div>
      </div>
      <div class="watercolor watercolor-yellow2 absolute top-4 ml6 mt6 left--50 rotate-30 w-100 z-1"></div>
    </section>

    <section class="relative">
      <div class="cf ph4-ns pt5-ns mw center relative z-2">
        <svg class="sketch white z-999 transform-150 right-0 top-4 db-ns dn hide-smaller-screens"> <use xlink:href="#texture-brick" /></svg>
        <div class="fl w-two-thirds-l w-100 ph4 pb3">
          <img src="/assets/img/north-beach/north-beach-1000x500.jpg">
        </div>
        <div class="fl w-third-l w-100 ph4 pb5-l pb3">
          <img src="/assets/img/north-beach/washington-square-park-630x280.jpg">
        </div>
        <div class="fl w-third-l w-100 ph4 pb3">
          <img src="/assets/img/north-beach/cafe-trieste-630x280.jpg">
        </div>
      </div>
      <div class="cf ph4-ns pt4-ns pb6-ns mw center relative z-2">
        <div class="fl w-third-l w-100 ph4 pb3">
          <img src="/assets/img/north-beach/stinking-rose-1000x750.jpg">
        </div>
        <div class="fl w-third-l w-100 ph4 pb3">
          <img src="/assets/img/north-beach/sentinel-750x1125.jpg">
        </div>
        <div class="fl w-third-l w-100 ph4 pb3">
          <img src="/assets/img/north-beach/molinari-1000x750.jpg">
        </div>
      </div>
    </section>

    <section class="cf ph4-ns pv4-ns relative z-2">
      <div class="cf w-40-ns w-80 center tc pt4">
        <h2 class="text-purple">What’s the best thing about living in <span class="handwriting">North Beach?</span></h2>
      </div>
    </section>
    <section class="cf ph4-ns pt4-ns mw center relative z-2">
      <div class="w-third-l w-100 w-90-m fl ph4 mb4-l mb5">
        <div class="w-30-ns fl pr3 pb3 tr-m">
          <span class="relative dib">
            <svg class="sketch blue w3 nl2"> <use xlink:href="#texture-boxes" /></svg>
            <img src="/assets/img/north-beach/circle-1.jpg" class="br-100">
          </span>
        </div>
        <div class="w-70-ns fl border-left pl3">
          <p class="mt0">Sitting in <span class="handwriting">Cafe Zoetrope</span> owned by <span class="handwriting">Francis Ford Coppola</span> and getting to run into the director himself sitting at the bar sipping expresso.</p>
          <p class="handwriting text-blue mb1">Lindsay</p>
          <h4 class="mt0">neighborhood resident</h4>
        </div>
      </div>
      <div class="w-third-l w-100 w-90-m fl ph4 mb4-l mb5">
        <div class="w-30-ns fl pr3 pb3 tr-m">
          <span class="relative dib">
            <svg class="sketch purple w3 top--3 right--2"> <use xlink:href="#curl3" /></svg>
            <img src="/assets/img/north-beach/circle-2.jpg" class="br-100">
          </span>
        </div>
        <div class="w-70-ns fl border-left pl3">
          <p class="mt0">Going to a reading at <span class="handwriting">City Lights Bookstore!</span></p>
          <p class="handwriting text-purple mb1">Miguel</p>
          <h4 class="mt0">Bartender</h4>
        </div>
      </div>
      <div class="w-third-l w-100 w-90-m fl ph4 mb4-l mb5">
        <div class="w-30-ns fl pr3 pb3 tr-m">
          <span class="relative dib">
            <svg class="sketch green w2 top--3"> <use xlink:href="#squiggle-triple" /></svg>
            <img src="/assets/img/north-beach/circle-3.jpg" class="br-100">
          </span>
        </div>
        <div class="w-70-ns fl border-left pl3">
          <p class="mt0">Doing the <span class="handwriting" >Barbary Coast</span> walking tour with an Emperor Norton impersonator.</p>
          <p class="handwriting text-green mb1">Konal</p>
          <h4 class="mt0">Local teacher</h4>
        </div>
      </div>
    </section>
    <section class="cf ph4-ns pt4-l pb6-ns w-60-l w-100 center relative z-2">
      <div class="w-50-l w-100 w-90-m fl ph4 mb4-l mb5">
        <div class="w-30-ns fl pr3 pb3 tr-m">
          <span class="relative dib">
            <svg class="sketch yellow w4 left--2 top--1"> <use xlink:href="#line-triple" /></svg>
            <img src="/assets/img/north-beach/circle-4.jpg" class="br-100">
          </span>
        </div>
        <div class="w-70-ns fl border-left pl3">
          <p class="mt0">The views of the Bay when standing at the top of <span class="handwriting">Coit Tower</span>.</p>
          <p class="handwriting text-yellow mb1">Margo</p>
          <h4 class="mt0">Neighborhood resident</h4>
        </div>
      </div>
      <div class="w-50-l w-100 w-90-m fl ph4 mb4-l mb5">
        <div class="w-30-ns fl pr3 pb3 tr-m">
          <span class="relative dib">
            <svg class="sketch blue w2 top--3 rotate-330 left--1"> <use xlink:href="#hair2" /></svg>
            <img src="/assets/img/north-beach/circle-5.jpg" class="br-100">
          </span>
        </div>
        <div class="w-70-ns fl border-left pl3">
          <p class="mt0">Having a picnic in <span class="handwriting">Washington Square Park</span> on a nice day.</p>
          <p class="handwriting text-blue mb1">Yan</p>
          <h4 class="mt0">Server</h4>
        </div>
      </div>
    </section>
    <div class="map map-mission absolute w-100 z-0 bottom-0 right-0"></div>
  </div>
  <section class="tc pv5 hero hero-join4">
    <h1 class="text-white w-30-l w-90 center mb0">
      <span class="relative dib">
        <svg class="sketch white w2 top--3 right-1-l right--2"> <use xlink:href="#curl" /></svg>
        <svg class="sketch white w3 left--3-l left--3 top--1-l top--2 rotate-240"> <use xlink:href="#hair" /></svg>
        <svg class="sketch white w2 left--2-l top-3-l left--1 top-2"> <use xlink:href="#asterisks" /></svg>
        <svg class="sketch white w2 top--3 right--2-l right-0"> <use xlink:href="#asterisks2" /></svg>
        Join<br>Starcity
      </span>
    </h1>
    <p class="text-white lead w-30-l w-90 center mb4">Become a part of our community. Take the first step by scheduling a tour.</p>
    <a href="/schedule-tour" class="button button-white dib mb4"><span class="text-black">Schedule a Tour</span></a>
  </section>
</main>
