<main class="overflow-hidden">
  <section class="hero hero-community hero-soma pv6-l pb4 pt6 relative overflow-hidden fade-in">
    <h1 class="soma-font text-white f-6-l f1 tc w-50-ns w-80 center mb4">West<br>SoMa</h1>
    <p class="lead text-white tc w-50-ns w-80 center">From $1,500 to $2,250 a month</p>
    <svg class="sketch white transform-300 right--3 db-l dn"> <use xlink:href="#texture-lines" /></svg>
    <img class="absolute bottom-0 w-100" src="/assets/img/bg-watercolor-white.png">
  </section>
  <section class="cf ph4-ns pv4-ns">
    <div class="w-40-ns w-80 w-80-m center tc pt4">
      <h2 class="text-blue">Our first community in the SoMa neighborhood</h2>
    </div>
    <div class="w-50-l w-70-m w-90 center tc handwriting pv4">
      <div class="fl w-third text-green f3">
        <span class="relative">
          <svg class="sketch green w2 top--3 left--2 nt2"> <use xlink:href="#stars" /></svg>
          Safe
          <svg class="sketch green w1 top--2 right--2 nt3"> <use xlink:href="#curl" /></svg>
        </span>
      </div>
      <div class="fl w-third text-yellow f3">
        <span class="relative">
          <svg class="sketch yellow w4 top--3 left--2 mt1 ml2"> <use xlink:href="#burst2" /></svg>
          Quiet
        </span>
      </div>
      <div class="fl w-third text-purple f3">
        <span class="relative">
          <svg class="sketch purple w4 top--3 right--3 nr4 nt2"> <use xlink:href="#texture-dots" /></svg>
          Diverse
        </span>
      </div>
    </div>
    <div class="w-40-ns w-80 w-80-m center tc pv4 relative z-3">
      <p>This community is equipped with the latest smart-home technology, and brand new, fully-furnished rooms with warmth and personality. Every private room comes with all of the essentials — queen bed, wardrobe, sink and high ceilings with plenty of natural light.</p>
    </div>
  </section>
  <section class="relative">
    <div class="watercolor watercolor-blue4 absolute top-0 left-0 w-100 z-0 nt6"></div>
    <div class="cf ph4-ns pt5-ns mw center relative z-3">
      <div class="fl w-two-thirds-l w-100 ph4 pb3">
        <img src="/assets/img/soma/kitchen-1000x500.jpg">
      </div>
      <div class="fl w-third-l w-100 ph4 pb5-l pb3">
        <img src="/assets/img/soma/counter-900x400.jpg">
      </div>
      <div class="fl w-third-l w-100 ph4 pb3">
        <img src="/assets/img/soma/entry-900x400.jpg">
      </div>
    </div>
    <div class="watercolor watercolor-blue5 absolute w-100 z-0 nt5"></div>
  </section>
  <section class="cf ph4-ns pv4-ns mw center relative z-2">
    <div class="fl w-third-l w-100 ph4 pb3">
      <img src="/assets/img/soma/community-1000x750.jpg">
      <p>The flexible and spacious communal living space is conducive to community gatherings, and the retractable wall lets you bring the outdoors in when the sun is shining.</p>
    </div>
    <div class="fl w-third-l w-100 ph4 pb3">
      <img src="/assets/img/soma/kitchen-750x1000.jpg">
      <p>A spacious, open, state-of-the-art kitchen is the focal point of the home. With top-of-the-line appliances, polished concrete floors, and copious amounts of storage, the kitchen is accessible to both the amateur and professional foodie.</p>
    </div>
    <div class="fl w-third-l w-100 ph4 pb3">
      <img src="/assets/img/soma/room1-1000x750.jpg">
      <p>Each room is designed with care to have its own unique look and feel that fits the character of the home and the eclectic SoMa neighborhood.</p>
    </div>
  </section>
  <section class="cf ph4-ns pv5 tc mw center">
    <h4 class="pv5-l pv3">Events at West SoMa</h4>
    <div class="tc fl w-third-l w-100 ph4 pb3 relative">
      <h3 class="handwriting text-green relative z-999">July</h3>
      <p class="w-90 center relative z-999">Olympicnic! Field Games and a picnic out in Chrissy Field.</p>
      <svg class="sketch green z-1 left-0 nl5 db-l dn"> <use xlink:href="#texture-dots2" /></svg>
      <div class="absolute top-0 left-50 w-70 nt4 dib-l dn">
        <img src="/assets/img/circle-watercolor-green.jpg" class="relative z-0 left--50">
      </div>
    </div>
    <div class="tc fl w-third-l w-100 ph4 pb3 relative">
      <h3 class="handwriting text-purple relative z-999">August</h3>
      <p class="w-90 center relative z-999">&ldquo;Breaking Bread and Bridging Changemakers,&rdquo; a dinner salon with Full Circle Fund and local non profits driving social change through food.</p>
      <svg class="sketch purple z-1 top--3 left-4 db-l dn"> <use xlink:href="#texture-brick" /></svg>
      <div class="absolute top-0 left-50 w-70 nt4 dib-l dn">
        <img src="/assets/img/circle-watercolor-purple.jpg" class="relative z-0 left--50">
      </div>
    </div>
    <div class="tc fl w-third-l w-100 ph4 pb3 relative">
      <h3 class="handwriting text-blue relative z-999">September</h3>
      <p class="w-90 center relative z-999">Breakfast Club: Serving breakfast at nonprofit partner, <a href="https://www.glide.org/" target="_blanks">GLIDE</a>.</p>
      <svg class="sketch blue z-1 left-0 db-l dn"> <use xlink:href="#texture-lines3" /></svg>
      <div class="absolute top-0 left-50 w-70 nt4 dib-l dn">
        <img src="/assets/img/circle-watercolor-blue.jpg" class="relative z-0 left--50">
      </div>
    </div>
  </section>
  <div class="relative">
    <section class="relative pt6-l">
      <div class="cf ph4-ns pt6-ns mw center relative z-2">
        <div class="fl w-third-l w-100 ph4 pb3-l">
          <h2 class="text-blue">The Neighborhood</h2>
        </div>
        <div class="fl w-50-l w-100 ph4 pb3">
          <p>Live in a neighborhood that is constantly evolving and growing. SoMa has grown from an industrial manufacturing hub to the headquarters of some of the most innovative companies in the world. </p>
          <p>The character of the factories from the past has created a lasting aesthetic in the neighborhood lending to its raw and earthy streetscapes. Many of the production facilities still remain intact as the "maker culture" has made its resurgence.</p>
        </div>
      </div>
      <div class="watercolor watercolor-blue3 absolute top-0 w-100 z-1"></div>
    </section>

    <section class="relative">
      <div class="cf ph4-ns pt5-ns mw center relative z-2">
        <svg class="sketch white z-999 transform-200 top-4 mt6"> <use xlink:href="#texture-lines2" /></svg>
        <svg class="sketch white z-999 transform-150 right-0 top-4"> <use xlink:href="#texture-dots3" /></svg>
        <div class="fl w-two-thirds-l w-100 ph4 pb3">
          <img src="/assets/img/soma/flowers-1000x500.jpg">
        </div>
        <div class="fl w-third-l w-100 ph4 pb5-l pb3">
          <img src="/assets/img/soma/attpark-630x280.jpg">
        </div>
        <div class="fl w-third-l w-100 ph4 pb3">
          <img src="/assets/img/soma/yb-630x280.jpg">
        </div>
      </div>
      <div class="cf ph4-ns pt4-ns pb6-ns mw center relative z-2">
        <div class="fl w-third-l w-100 ph4 pb3">
          <img src="/assets/img/soma/hood-1-1000x750.jpg">
        </div>
        <div class="fl w-third-l w-100 ph4 pb3">
          <img src="/assets/img/soma/hood-3-750x1125.jpg">
        </div>
        <div class="fl w-third-l w-100 ph4 pb3">
          <img src="/assets/img/soma/hood-2-1000x750.jpg">
        </div>
      </div>
    </section>

    <section class="cf ph4-ns pv4-ns relative z-2">
      <div class="cf w-40-ns w-80 center tc pt4">
        <h2 class="text-purple">What’s the best thing about living in <span class="handwriting">Soma?</span></h2>
      </div>
    </section>
    <section class="cf ph4-ns pt4-ns mw center relative z-2">
      <div class="w-third-l w-100 w-90-m fl ph4 mb4-l mb5">
        <div class="w-30-ns fl pr3 pb3 tr-m">
          <span class="relative dib">
            <svg class="sketch blue w3 nl3" style="top:1rem;"> <use xlink:href="#texture-boxes" /></svg>
            <img src="/assets/img/soma/moma-160x160.png" class="br-100">
          </span>
        </div>
        <div class="w-70-ns fl border-left pl3">
          <p class="mt0">I love the <span class="handwriting">SF MOMA</span>, especially the Sculpture Terrace on the third floor, which features an amazing living wall.</p>
          <p class="handwriting text-blue mb1">Aaron</p>
          <h4 class="mt0">SoMa native</h4>
        </div>
      </div>
      <div class="w-third-l w-100 w-90-m fl ph4 mb4-l mb5">
        <div class="w-30-ns fl pr3 pb3 tr-m">
          <span class="relative dib">
            <svg class="sketch green w2 top--3"> <use xlink:href="#squiggle-triple" /></svg>
            <img src="/assets/img/soma/brussels-160x160.jpg" class="br-100">
          </span>
        </div>
        <div class="w-70-ns fl border-left pl3">
          <p class="mt0">The inventive American food at <span class="handwriting">Marlowe</span>&mdash;think brussels sprout chips!</p>
          <p class="handwriting text-purple mb1">Katherine</p>
          <h4 class="mt0">Starcity collaborator</h4>
        </div>
      </div>
      <div class="w-third-l w-100 w-90-m fl ph4 mb4-l mb5">
        <div class="w-30-ns fl pr3 pb3 tr-m">
          <span class="relative dib">
            <svg class="sketch purple w3 top--3 right--2"> <use xlink:href="#curl3" /></svg>
            <img src="/assets/img/soma/flower-160x160.jpg" class="br-100">
          </span>
        </div>
        <div class="w-70-ns fl border-left pl3">
          <p class="mt0">The vast, affordable collection of flowers at the <span class="handwriting">flower mart</span>. Get there early and meet the interesting vendors!</p>
          <p class="handwriting text-green mb1">Mary</p>
          <h4 class="mt0">local business owner</h4>
        </div>
      </div>
    </section>
    <section class="cf ph4-ns pt4-l pb6-ns w-60-l w-100 center relative z-2">
      <div class="w-50-l w-100 w-90-m fl ph4 mb4-l mb5">
        <div class="w-30-ns fl pr3 pb3 tr-m">
          <span class="relative dib">
            <svg class="sketch yellow w4 left--2 top--1"> <use xlink:href="#line-triple" /></svg>
            <img src="/assets/img/soma/giants-160x160.jpg" class="br-100">
          </span>
        </div>
        <div class="w-70-ns fl border-left pl3">
          <p class="mt0">Catching a Giants baseball game at <span class="handwriting">AT&amp;T Park</span>. The views are phenomenal&mdash;you don't need to be a baseball fan to enjoy this place.</p>
          <p class="handwriting text-yellow mb1">Sam</p>
          <h4 class="mt0">Neighbor</h4>
        </div>
      </div>
      <div class="w-50-l w-100 w-90-m fl ph4 mb4-l mb5">
        <div class="w-30-ns fl pr3 pb3 tr-m">
          <span class="relative dib">
            <svg class="sketch blue w2 top--3 rotate-330 left--1"> <use xlink:href="#hair2" /></svg>
            <img src="/assets/img/soma/mezzanine-160x160.jpg" class="br-100">
          </span>
        </div>
        <div class="w-70-ns fl border-left pl3">
          <p class="mt0">The DJ sets at <span class="handwriting">Mezzanine</span>. There's a large dance area and outdoor patio. Get your friends together and go here!</p>
          <p class="handwriting text-blue mb1">Erica</p>
          <h4 class="mt0">Artist in SoMa</h4>
        </div>
      </div>
    </section>
    <div class="map map-soma absolute w-100 z-0 bottom-0 right-0"></div>
  </div>
  <section class="tc pv5 hero hero-join3">
    <h1 class="text-white w-30-l w-90 center mb0">
      <span class="relative dib">
        <svg class="sketch white w2 top--3 right-1-l right--2"> <use xlink:href="#curl" /></svg>
        <svg class="sketch white w3 left--3-l left--3 top--1-l top--2 rotate-240"> <use xlink:href="#hair" /></svg>
        <svg class="sketch white w2 left--2-l top-3-l left--1 top-2"> <use xlink:href="#asterisks" /></svg>
        <svg class="sketch white w2 top--3 right--2-l right-0"> <use xlink:href="#asterisks2" /></svg>
        Join<br>Starcity
      </span>
    </h1>
    <p class="text-white lead w-30-l w-90 center mb4">Become a part of our community. Take the first step by scheduling a tour.</p>
    <a href="/schedule-tour" class="button button-white dib mb4"><span class="text-black">Schedule a Tour</span></a>
  </section>
</main>
