.alert {
  color: white;
  border-radius: 50px;
  padding: 12px 20px;
  text-align: left;

  &-error {
    background-color: $red;
  }

  &-success {
    background-color: $green;
  }
}

.alerts.align-center {
  .alert {
    text-align: center;
  }
}
