.button {
  display: inline-block;
  border-radius: 50px;
  background-color: $blue;
  border-style: solid;
  border-width: 1px;
  border-color: $blue;
  font-size: .75rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 12px 20px;
  transition: opacity 200ms;
  -webkit-transition: opacity 200ms;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
    text-decoration: none;
  }
  &-white {
    background-color: white;
    border-color: white;
    color: $blue;
  }
  &-yellow {
    background-color: $yellow;
    border-color: $yellow;
  }
  &-purple {
    background-color: $purple;
    border-color: $purple;
  }
  &-green {
    background-color: $green;
    border-color: $green;
  }
  &-outline-white {
    background-color: transparent;
    border: solid 1px white;
    color: white;
    &:hover {
      background-color: white;
      color: $blue;
    }
  }
  &-joined {
    border-radius: 0 50px 50px 0;
    top: -1px;
  }

  &:disabled {
    background-color: $lightgray;
    border-color: $lightgray;
    cursor: default;
    color: $gray;
  }
}

@media screen and (min-width: 60em) {
  .button {
    padding: 18px 24px;
  }
}