$black: #2e2b2c !default;
$gray: #8e8e8e !default;
$lightgray: #eaeaea !default;
$light-gray: #D8D8D8 !default;
$line-gray: #E6E6E6 !default;
$blue: #1186c9 !default;
$green: #11c956 !default;
$yellow: #ffb736 !default;
$purple: #b121d5 !default;
$red: #ee433b !default;
$dark-blue: #0f6697 !default;
$dark-green: #388956 !default;
$dark-yellow: #ca8d1f !default;
$dark-purple: #811a9b !default;
$green: #7a8e52 !default;


.text-black  { color: $black; }
.text-white  { color: white; }
.text-gray   { color: $gray; }
.text-blue   { color: $blue; }
.text-green  { color: $green; }
.text-yellow { color: $yellow; }
.text-purple { color: $purple; }
.text-red { color: $red; }
.text-green { color: $green; }

.bg-black { background-color: $black; }
.bg-white  { background-color: white; }
.bg-gray   { background-color: $gray; }
.bg-blue { background-color: $blue; }
.bg-green  { background-color: $green; }
.bg-yellow { background-color: $yellow; }
.bg-purple { background-color: $purple; }
.bg-red { background-color: $red; }
.bg-green { background-color: $green; }

.bg-dark-blue { background-color: $dark-blue; }
.bg-dark-green  { background-color: $dark-green; }
.bg-dark-yellow { background-color: $dark-yellow; }
.bg-dark-purple { background-color: $dark-purple; }
