.community-link {
  transition: all 500ms;
  &.soma {
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../img/hero-soma.jpg);
    &:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/hero-soma.jpg);
    }
  }
  &.mission {
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../img/hero-mission.jpg);
    &:hover {
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/hero-mission.jpg);
    }
  }
}

.soma-font {
  font-family: 'Vast Shadow', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 0.9;
}

.mission-font {
  font-family: 'Rock Salt', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

.border-left {
  border-left: solid 2px lighten($gray, 30%);
}

.blog-post-preview {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: rgba(39, 44, 49, 0.06) 8px 14px 38px, rgba(39, 44, 49, 0.09) 1px 3px 8px;
  min-height: 300px;

  .bpp--image, .bpp--content {
    position: relative;
    a {
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
    }
  }

  .bpp--image {
    background: url(/assets/img/mission/murals-1000x500.jpg) center center no-repeat;
    background-size: cover;
    flex: 1 1 70%;
  }

  .bpp--content {
    flex: 0 0 auto;

    background: white;
    padding: 1rem 2rem;

    p {
      margin: 0 0 .5rem;
      font-size: .9rem;
    }

    h3 {
      display: flex;
      flex-direction: row;
      margin: 0 0 .5rem;
      font-size: 1.3rem;
      font-family: 'Eczar', sans-serif;
    }

    .starcity-logo {
      flex: 0 0 3rem;
      background: url(/assets/svg/logo-black.svg) center left no-repeat;
      background-size: 2rem auto;
    }
  }
}
