<form id="schedule-tour" class="w-80-ns w-100 center" method="POST" action="/schedule-tour">
  <div class="select input-blue w-100 input-large mb3">
    <select id="community" required name="community">
      <option selected disabled value="">Choose a community</option>
    </select>
  </div>
  <div class="select input-blue w-100 input-large mb3">
    <select id="referral" name="referral">
      <option selected disabled value="">How did you hear about us?</option>
    </select>
  </div>
  <input id="referral-other" class="dn input-blue w-100 input-large mb3" name="referral-other" type="text" placeholder="Please elaborate."/>
  <button type="submit" class="button button-green db mt4-l mt3 mb6">Choose Date &amp; Time</button>
</form>
