<main class="brand">
  <div class="hero hero-watercolor-blue2 absolute w-100 z--1"></div>
  <section class="cf mw center ph4-ns pv6-l pb4 pt6 relative z-1">
    <div class="w-30-ns w-80 w-80-m fl ph4 relative z-999">
      &nbsp;
      <ul class="sidenav dib-l dn mt5-l mt3 fixed z-999">
        <li class="pl4"><a href="#logo">Logo</a></li>
        <li class="pl4"><a href="#color">Color</a></li>
        <li class="pl4"><a href="#typography">Typography</a></li>
        <li class="pl4 admin-only"><a href="#photo">Photo &amp; Video</a> <img class="lock" src="/assets/svg/icon-lock.svg"></li>
        <li class="pl4 admin-only"><a href="#illustration">Illustrations <img class="lock" src="/assets/svg/icon-lock.svg"></a></li>
        <li class="pl4 admin-only"><a href="#lexicon">Lexicon <img class="lock" src="/assets/svg/icon-lock.svg"></a></li>
        <li class="pl4 admin-only"><a href="#gallery">Gallery <img class="lock" src="/assets/svg/icon-lock.svg"></a></li>
      </ul>
    </div>
    <div class="w-70-l w-100 fl ph4 relative z-1">
      <!-- Start Logo -->
      <a class="pv4 db" id="logo"></a>
      <h4 class="">Logo</h4>
      <div class="w-80-ns w-100-m">
        <h2 class="pt4-l pt3 text-blue mt0">Our logo is the beginning of our visual brand identity.</h2>
        <p class="lead">Its design reflects our ideals: transparent, clear, and collaborative. Our logo is the star of a Starcity community — a badge of honor and a core piece of how we present ourselves to our members and the larger world.</p>
        <a href="/downloads/starcity-logos.zip" class="button button-blue mv3">Download all Logo Assets</a>
        <h5 class="f5 pt5-l pt4">Primary Lockups</h5>
        <p class="pb4">We have two primary lockups of the logo which you can use. We prefer the horizontal lockup when possible but you may use the vertical logo if it is better suited for your design.</p>
      </div>
      <div class="w-50-ns w-100 fl pr4-l mb5-l mb4">
        <figure class="card ma0">
          <img src="/assets/svg/logo-wordmark.svg" class="pt3 pb2">
        </figure>
        <figcaption class="card card-bottom">
          <p class="ma0">Dark Horizontal Logo</p>
          <a href="/downloads/logos/eps/dark-horizontal.eps">EPS</a> or <a href="/downloads/logos/png/dark-horizontal.png">PNG</a>
        </figcaption>
      </div>
      <div class="cf">
        <div class="w-50-ns w-100 fl pl4-l mb5-l mb4">
          <figure class="card card-dark ma0">
            <img src="/assets/svg/logo-wordmark-light.svg" class="pt3 pb2">
          </figure>
          <figcaption class="card card-bottom">
            <p class="ma0">Light Horizontal Logo</p>
            <a href="/downloads/logos/eps/light-horizontal.eps">EPS</a> or <a href="/downloads/logos/png/light-horizontal.png">PNG</a>
          </figcaption>
        </div>
        <div class="w-50-ns w-100 fl pr4-l mb5-l mb4">
          <figure class="card ma0 tc">
            <img src="/assets/svg/logo-vertical-dark.svg" class="pt4 pb2">
          </figure>
          <figcaption class="card card-bottom">
            <p class="ma0">Dark Vertical Logo</p>
            <a href="/downloads/logos/eps/dark-vertical.eps">EPS</a> or <a href="/downloads/logos/png/dark-vertical.png">PNG</a>
          </figcaption>
        </div>
        <div class="w-50-ns w-100 fl pl4-l mb5-l mb4">
          <figure class="card card-dark ma0 tc">
            <img src="/assets/svg/logo-vertical-light.svg" class="pt4 pb2">
          </figure>
          <figcaption class="card card-bottom">
            <p class="ma0">Light Vertical Logo</p>
            <a href="/downloads/logos/eps/light-vertical.eps">EPS</a> or <a href="/downloads/logos/png/light-vertical.png">PNG</a>
          </figcaption>
        </div>
      </div>
      <div class="w-80-ns w-100-m">
        <h5 class="f5">Secondary Lockups</h5>
        <p class="pb4">The logo mark may be used in designs and documents where the name &ldquo;Starcity&rdquo; or the full logo is elsewhere used. Exceptions to this rule can be made for swag items.</p>
      </div>
      <div class="cf">
        <div class="w-50-ns w-100 fl pr4-l mb5-l mb4">
          <figure class="card ma0 tc">
            <img src="/assets/svg/logo-black.svg" class="w-30 pv4">
          </figure>
          <figcaption class="card card-bottom">
            <p class="ma0">Dark Logomark</p>
            <a href="/downloads/logos/eps/dark-logomark.eps">EPS</a> or <a href="/downloads/logos/png/dark-logomark.png">PNG</a>
          </figcaption>
        </div>
        <div class="w-50-ns w-100 fl pl4-l mb5-l mb4">
          <figure class="card card-dark ma0 tc">
            <img src="/assets/svg/logo-white.svg" class="w-30 pv4">
          </figure>
          <figcaption class="card card-bottom">
            <p class="ma0">Light Logomark</p>
            <a href="/downloads/logos/eps/light-logomark.eps">EPS</a> or <a href="/downloads/logos/png/light-logomark.png">PNG</a>
          </figcaption>
        </div>
      </div>
      <div class="w-80-ns w-100-m">
        <h5 class="f5">Color</h5>
        <p class="pb4">The preferred color treatment of the logo is white or black, over backgrounds where contrast is high. An alternate version of the logo can be used in <a href="#color">Starcity Blue</a>, but this usage is less frequent as the color palette is generally reserved for graphic accents rather than branding.</p>
      </div>
      <div class="cf">
        <div class="w-25-l w-100 w-50-m fl pr3-l mb5-l mb4">
          <figure class="card ma0 tc">
            <img src="/assets/svg/logo-black.svg" class="w-60 pv3">
            <span class="tag tc">
              <img src="/assets/svg/icon-check.svg">
            </span>
          </figure>
        </div>
        <div class="w-25-l w-100 w-50-m fl pr3-l mb5-l mb4">
          <figure class="card card-dark ma0 tc">
            <img src="/assets/svg/logo-white.svg" class="w-60 pv3">
            <span class="tag tag-dark tc">
              <img src="/assets/svg/icon-check.svg">
            </span>
          </figure>
        </div>
        <div class="w-25-l w-100 w-50-m fl pr3-l mb5-l mb4">
          <figure class="card ma0 tc">
            <img src="/assets/svg/logo-blue.svg" class="w-60 pv3">
            <span class="tag tc">
              <img src="/assets/svg/icon-check.svg">
            </span>
          </figure>
        </div>
        <div class="w-25-l w-100 w-50-m fl pr3-l mb5-l mb4">
          <figure class="card ma0 tc">
            <img src="/assets/svg/logo-purple.svg" class="w-60 pv3">
            <span class="tag tc">
              <img src="/assets/svg/icon-x.svg">
            </span>
          </figure>
        </div>
      </div>
      <div class="w-80-ns w-100-m">
        <h5 class="f5">Our Name</h5>
        <p class="pb4">Starcity is written as one word with a capital &ldquo;S&rdquo; and lowercase &ldquo;c&rdquo;.</p>
      </div>
      <div class="w-80-ns w-100-m">
        <h5 class="f5 pt4">Do&rsquo;s</h5>
      </div>
      <div class="w-100 card cf mb4">
        <p class="do pb3 ml4-l ml1"><span class="handwriting text-green">DO</span> maintain a healthy amount of clearspace around the logo so as not to clutter it</p>
        <div class="pl4-l pl1 tc">
          <figure class="w-40-l w-80 ma0 fl card mb3 h5">
            <img src="/assets/svg/clearspace-do.svg" class="mt4">
            <span class="tag tc">
              <img src="/assets/svg/icon-check.svg">
            </span>
          </figure>
          <figure class="w-40-l w-80 ma0 fl card mb3 h5 bl-l">
            <img src="/assets/svg/clearspace-dont.svg" class="mt5">
            <span class="tag tc">
              <img src="/assets/svg/icon-x.svg">
            </span>
          </figure>
        </div>
      </div>
      <div class="w-100 card cf mb4">
        <p class="do pb3 ml4-l ml1"><span class="handwriting text-green">DO</span> retain the shape and proportions of the logo</p>
        <div class="cf ph4-l ph1 tc">
          <figure class="w-25-ns w-80 ma0 fl card mb3 h4">
            <img src="/assets/svg/logo-black.svg" class="w-60 pv3">
            <span class="tag tc">
              <img src="/assets/svg/icon-check.svg">
            </span>
          </figure>
          <figure class="w-25-ns w-80 ma0 fl card mb3 bl-l h4">
            <img src="/assets/svg/proportion-dont2.svg" class="mt4">
            <span class="tag tc">
              <img src="/assets/svg/icon-x.svg">
            </span>
          </figure>
          <figure class="w-25-ns w-80 ma0 fl card mb3 bl-l h4">
            <img src="/assets/svg/proportion-dont.svg" class="mt3">
            <span class="tag tc">
              <img src="/assets/svg/icon-x.svg">
            </span>
          </figure>
        </div>
      </div>
      <div class="w-100 card cf mb4">
        <p class="do pb3 ml4-l ml1"><span class="handwriting text-green">DO</span> use assets at a legible size for the medium</p>
        <div class="w-40-ns w-100 fl mb3 ml4-l">
          <figure class="card ma0 tc">
            <img src="/assets/svg/minsize-print.svg" class="pv3">
          </figure>
          <figcaption class="card card-bottom">
            <p class="ma0">Print<br>
              Wordmark no smaller than 25mm wide</p>
          </figcaption>
        </div>
        <div class="w-40-ns w-100 fl ml1 mb3 ml4-l">
          <figure class="card ma0 tc">
            <img src="/assets/svg/minsize-digital.svg" class="pv3">
          </figure>
          <figcaption class="card card-bottom">
            <p class="ma0">Digital<br>
              Wordmark no smaller than 66px wide</p>
          </figcaption>
        </div>
      </div>
      <div class="w-80-ns w-100-m pt4">
        <h5 class="f5">Don&rsquo;ts</h5>
      </div>
      <div class="w-100 card cf mb4">
        <p class="dont pb3 ml4-l ml1"><span class="handwriting text-red">Don&rsquo;t</span> manipulate the logo in any way, such as changing color or typeface</p>
        <figure class="w-30-ns w-80 ma0 fl card ml4-l ml1 mb3">
          <img src="/assets/svg/manipulate-dont.svg" class="pv3">
          <span class="tag tc">
            <img src="/assets/svg/icon-x.svg">
          </span>
        </figure>
        <figure class="w-30-ns w-80 ma0 fl card ml4-l ml1 mb3">
          <img src="/assets/svg/manipulate-dont2.svg" class="pv3">
          <span class="tag tc">
            <img src="/assets/svg/icon-x.svg">
          </span>
        </figure>
      </div>
      <div class="w-100 card cf mb4">
        <p class="dont pb3 ml4-l ml1"><span class="handwriting text-red">Don&rsquo;t</span> overlap the logo with other elements</p>
        <figure class="w-30-ns w-80 ma0 fl card ml4-l ml1 mb3">
          <img src="/assets/svg/overlap-dont.svg">
          <span class="tag tc">
            <img src="/assets/svg/icon-x.svg">
          </span>
        </figure>
        <figure class="w-30-ns w-80 ma0 fl card ml4-l ml1 mb3">
          <img src="/assets/svg/overlap-dont2.svg">
          <span class="tag tc">
            <img src="/assets/svg/icon-x.svg">
          </span>
        </figure>
      </div>
      <div class="w-100 card cf mb4">
        <p class="dont pb3 ml4-l ml1"><span class="handwriting text-red">Don&rsquo;t</span> make the logo transparent</p>
        <figure class="w-40-ns w-80 ma0 fl card card-full ml4-l ml1 mb3">
          <img src="/assets/img/transparency-dont.jpg" class="db">
          <span class="tag tc tag-dark">
            <img src="/assets/svg/icon-x.svg">
          </span>
        </figure>
        <figure class="w-40-ns w-80 ma0 fl card card-full ml4-l ml1 mb3">
          <img src="/assets/img/transparency-dont2.jpg" class="db">
          <span class="tag tag-dark tc">
            <img src="/assets/svg/icon-x.svg">
          </span>
        </figure>
      </div>
      <div class="w-100 card cf mb4">
        <p class="dont pb3 ml4-l ml1"><span class="handwriting text-red">Don&rsquo;t</span> place the logo over backgrounds that are busy or backgrounds with low contrast</p>
        <figure class="w-40-ns w-80 ma0 fl card card-full ml4-l ml1 mb3">
          <img src="/assets/img/contrast-dont.jpg" class="db">
          <span class="tag tag-dark tc">
            <img src="/assets/svg/icon-x.svg">
          </span>
        </figure>
        <figure class="w-40-ns w-80 ma0 fl card card-full ml4-l ml1 mb3">
          <img src="/assets/img/contrast-dont2.jpg" class="db">
          <span class="tag tag-dark tc">
            <img src="/assets/svg/icon-x.svg">
          </span>
        </figure>
      </div>
    </div>
  </section>
  <!-- End Logo -->
  <!-- Start Color -->
  <section class="cf ph4-ns relative z-0">
    <div class="mw center">
      <div class="watercolor watercolor-purple absolute rotate-180 right-0 w-100 mt6"></div>
      <div class="w-30-ns w-80 w-80-m fl ph4">&nbsp;</div>
      <div class="w-70-l w-100 fl ph4 relative z-1">
        <a class="pv4 db" id="color"></a>
        <h4 class="pt5-l">Color</h4>
        <div class="w-80-ns w-100-m">
          <h2 class="pt4-l pt3 text-purple mt0">Our color palette denotes who we are and the communities we are tied to.</h2>
          <p class="lead">Only the colors below should be used for Starcity marketing, communications, and other public- and community-facing materials. We have thought long and hard about the story our colors tell and the emotions they evoke.</p>
          <a href="/downloads/starcity-color-palette.ase" class="button button-purple mv3">Download Color Palette (.ase)</a>
          <h5 class="f5 pt5-l pt4">Grayscale Palette</h5>
          <p class="pb4">The grayscale palette is used for text and the white is reserved for backgrounds.</p>
        </div>
        <div class="cf">
          <div class="w-third-l w-100 fl pr4-l mb5-l mb4">
            <figure class="card ma0 bg-black card-dark h4"></figure>
            <figcaption class="card card-bottom">
              <p class="ma0">Black</p>
              <table class="tl w-100">
                <tr>
                  <th>HEX</th>
                  <td>#2E2B2C</td>
                </tr>
                <tr>
                  <th><strong>RGB</strong></th>
                  <td>46 43 44</td>
                </tr>
                <tr>
                  <th><strong>CMYK</strong></th>
                  <td>69 66 62 64</td>
                </tr>
              </table>
            </figcaption>
          </div>
          <div class="w-third-l w-100 fl ph3-l mb5-l mb4">
            <figure class="card ma0 bg-gray h4"></figure>
            <figcaption class="card card-bottom">
              <p class="ma0">Gray</p>
              <table class="tl w-100">
                <tr>
                  <th><strong>HEX</strong></th>
                  <td>#8E8E8E</td>
                </tr>
                <tr>
                  <th><strong>RGB</strong></th>
                  <td>142 142 142</td>
                </tr>
                <tr>
                  <th><strong>CMYK</strong></th>
                  <td>47 39 39 3</td>
                </tr>
              </table>
            </figcaption>
          </div>
          <div class="w-third-l w-100 fl pl4-l mb5-l mb4">
            <figure class="card ma0 h4"></figure>
            <figcaption class="card card-bottom">
              <p class="ma0">White</p>
              <table class="tl w-100">
                <tr>
                  <th><strong>HEX</strong></th>
                  <td>#FFFFFF</td>
                </tr>
                <tr>
                  <th><strong>RGB</strong></th>
                  <td>255 255 255</td>
                </tr>
                <tr>
                  <th><strong>CMYK</strong></th>
                  <td>0 0 0 0</td>
                </tr>
              </table>
            </figcaption>
          </div>
        </div>
        <div class="w-80-ns w-100-m">
          <h5 class="f5">Accent Palette</h5>
          <p class="pb4">The colors in the accent palette add pops of color and vibrancy to headlines, backgrounds, and illustrations.</p>
        </div>
        <div class="cf">
          <div class="w-25-l w-100 fl pr3-l mb3-l">
            <figure class="card ma0 bg-blue h4"></figure>
            <figcaption class="card card-bottom">
              <p class="ma0">Starcity Blue</p>
              <table class="tl w-100">
                <tr>
                  <th><strong>HEX</strong></th>
                  <td>#1186C9</td>
                </tr>
                <tr>
                  <th><strong>RGB</strong></th>
                  <td>17 134 201</td>
                </tr>
                <tr>
                  <th><strong>CMYK</strong></th>
                  <td>81 38 0 0</td>
                </tr>
              </table>
            </figcaption>
          </div>
          <div class="w-25-l w-100 fl pr3-l mb3-l">
            <figure class="card ma0 bg-purple h4"></figure>
            <figcaption class="card card-bottom">
              <p class="ma0">Starcity Purple</p>
              <table class="tl w-100">
                <tr>
                  <th><strong>HEX</strong></th>
                  <td>#B121D5</td>
                </tr>
                <tr>
                  <th><strong>RGB</strong></th>
                  <td>177 33 213</td>
                </tr>
                <tr>
                  <th><strong>CMYK</strong></th>
                  <td>48 85 0 0</td>
                </tr>
              </table>
            </figcaption>
          </div>
          <div class="w-25-l w-100 fl pr3-l mb3-l">
            <figure class="card ma0 bg-yellow h4"></figure>
            <figcaption class="card card-bottom">
              <p class="ma0">Starcity Gold</p>
              <table class="tl w-100">
                <tr>
                  <th><strong>HEX</strong></th>
                  <td>#F29B00</td>
                </tr>
                <tr>
                  <th><strong>RGB</strong></th>
                  <td>242 155 0</td>
                </tr>
                <tr>
                  <th><strong>CMYK</strong></th>
                  <td>3 45 100 0</td>
                </tr>
              </table>
            </figcaption>
          </div>
          <div class="w-25-l w-100 fl pl1-l mb3-l">
            <figure class="card ma0 bg-green h4"></figure>
            <figcaption class="card card-bottom">
              <p class="ma0">Starcity Green</p>
              <table class="tl w-100">
                <tr>
                  <th><strong>HEX</strong></th>
                  <td>#11C956</td>
                </tr>
                <tr>
                  <th><strong>RGB</strong></th>
                  <td>17 201 86</td>
                </tr>
                <tr>
                  <th><strong>CMYK</strong></th>
                  <td>72 0 90 0</td>
                </tr>
              </table>
            </figcaption>
          </div>
        </div>
        <p class="pv4 w-80-l w-100">The dark accent colors are used only in illustrations to add depth.</p>
        <div class="cf mb5-l mb4">
          <div class="w-25-l w-100 fl pr3-l mb3">
            <figure class="card ma0 bg-dark-blue h2"></figure>
            <figcaption class="card card-bottom">
              <p class="ma0">Dark Blue</p>
              <table class="tl w-100">
                <tr>
                  <th><strong>HEX</strong></th>
                  <td>#0F6698</td>
                </tr>
                <tr>
                  <th><strong>RGB</strong></th>
                  <td>15 102 152</td>
                </tr>
                <tr>
                  <th><strong>CMYK</strong></th>
                  <td>92 58 19 3</td>
                </tr>
              </table>
            </figcaption>
          </div>
          <div class="w-25-l w-100 fl pr3-l mb3">
            <figure class="card ma0 bg-dark-purple h2"></figure>
            <figcaption class="card card-bottom">
              <p class="ma0">Dark Purple</p>
              <table class="tl w-100">
                <tr>
                  <th><strong>HEX</strong></th>
                  <td>#811A9B</td>
                </tr>
                <tr>
                  <th><strong>RGB</strong></th>
                  <td>129 26 155</td>
                </tr>
                <tr>
                  <th><strong>CMYK</strong></th>
                  <td>61 100 0 0</td>
                </tr>
              </table>
            </figcaption>
          </div>
          <div class="w-25-l w-100 fl pr3-l mb3">
            <figure class="card ma0 bg-dark-yellow h2"></figure>
            <figcaption class="card card-bottom">
              <p class="ma0">Dark Gold</p>
              <table class="tl w-100">
                <tr>
                  <th><strong>HEX</strong></th>
                  <td>#CB8D1F</td>
                </tr>
                <tr>
                  <th><strong>RGB</strong></th>
                  <td>203 141 31</td>
                </tr>
                <tr>
                  <th><strong>CMYK</strong></th>
                  <td>20 46 100 2</td>
                </tr>
              </table>
            </figcaption>
          </div>
          <div class="w-25-l w-100 fl pl1-l mb3">
            <figure class="card ma0 bg-dark-green h2"></figure>
            <figcaption class="card card-bottom">
              <p class="ma0">Dark Green</p>
              <table class="tl w-100">
                <tr>
                  <th><strong>HEX</strong></th>
                  <td>#388A57</td>
                </tr>
                <tr>
                  <th><strong>RGB</strong></th>
                  <td>56 138 87</td>
                </tr>
                <tr>
                  <th><strong>CMYK</strong></th>
                  <td>79 24 82 8</td>
                </tr>
              </table>
            </figcaption>
          </div>
        </div>
        <div class="w-80-ns w-100-m">
          <h5 class="f5">Do&rsquo;s</h5>
        </div>
        <div class="w-100 card cf mb4">
          <div class="cf">
            <p class="do fl pb3 ml4-l ml1"><span class="handwriting text-green">DO</span> use primarily white backgrounds for content</p>
          </div>
          <figure class="w-40-ns w-80 ma0 fl card card-full ml4-l ml1 mb3">
            <img src="/assets/img/background-do.jpg" class="db">
            <span class="tag tag-dark tc">
              <img src="/assets/svg/icon-check.svg">
            </span>
          </figure>
          <figure class="w-40-ns w-80 ma0 fl card card-full ml4-l ml1 mb3">
            <img src="/assets/img/background-dont.jpg" class="db">
            <span class="tag tag-dark tc">
              <img src="/assets/svg/icon-x.svg">
            </span>
          </figure>
        </div>
        <div class="w-100 card cf mb4">
          <div class="cf">
            <p class="fl pb3 do ml4-l ml1"><span class="handwriting text-green">DO</span> use the accent palette in equal amounts, with a slight preference for Starcity Blue</p>
          </div>
          <figure class="w-90 ma0 fl card card-full ml4-l ml1 mb3">
            <img src="/assets/img/accent-do.png" class="db">
            <span class="tag tc">
              <img src="/assets/svg/icon-check.svg">
            </span>
          </figure>
          <figure class="w-90 ma0 fl card card-full ml4-l ml1 mv3">
            <img src="/assets/img/accent-do2.png" class="db">
            <span class="tag tc">
              <img src="/assets/svg/icon-check.svg">
            </span>
          </figure>
        </div>
        <div class="w-100 card cf mb4">
          <div class="cf">
            <p class="fl pb3 do ml4-l ml1"><span class="handwriting text-green">DO</span> create mostly monochromatic layouts</p>
          </div>
          <figure class="w-90 ma0 fl card card-full ml4-l ml1 mb3">
            <img src="/assets/img/monochrome-do.jpg" class="db">
            <span class="tag tc">
              <img src="/assets/svg/icon-check.svg">
            </span>
          </figure>
          <figure class="w-40 ma0 fl card card-full ml4-l ml1 mv3">
            <img src="/assets/img/monochrome-do2.png" class="db">
            <span class="tag tc">
              <img src="/assets/svg/icon-check.svg">
            </span>
          </figure>
          <figure class="w-40 ma0 fl card card-full ml4-l ml1 mv3">
            <img src="/assets/img/monochrome-do3.jpg" class="db">
            <span class="tag tag-dark tc">
              <img src="/assets/svg/icon-check.svg">
            </span>
          </figure>
        </div>
        <div class="w-80-ns w-100-m pt4">
          <h5 class="f5">Don&rsquo;ts</h5>
        </div>
        <div class="w-100 card cf mb4">
          <div class="cf">
            <p class="fl pb3 dont ml4-l ml1"><span class="handwriting text-red">Don&rsquo;t</span> overload the design with too many uses of the accent palette</p>
          </div>
          <figure class="w-90 ma0 fl card card-full ml4-l ml1 mb3">
            <img src="/assets/img/color-dont.png" class="db">
            <span class="tag tc">
              <img src="/assets/svg/icon-x.svg">
            </span>
          </figure>
        </div>
        <div class="w-100 card cf mb4">
          <div class="cf">
            <p class="fl pb3 dont ml4-l ml1"><span class="handwriting text-red">Don&rsquo;t</span> use the dark accent palette outside of illustrations</p>
          </div>
          <figure class="w-40 ma0 fl card card-full ml4-l ml1 mb3">
            <img src="/assets/img/color-dont2.png" class="db">
            <span class="tag tc">
              <img src="/assets/svg/icon-x.svg">
            </span>
          </figure>
          <figure class="w-40 ma0 fl card card-full ml4-l ml1 mb3">
            <img src="/assets/img/color-do.png" class="db">
            <span class="tag tag-dark tc">
              <img src="/assets/svg/icon-check.svg">
            </span>
          </figure>
        </div>
      </div>
    </div>
  </section>
  <!-- End Color -->
  <!-- Start Typography -->
  <section class="cf ph4-ns relative z-0">
    <div class="mw center">
      <div class="watercolor watercolor-green absolute top-0 left-0 w-100 nt4"></div>
      <div class="w-30-ns w-80 w-80-m fl ph4">&nbsp;</div>
      <div class="w-70-l w-100 fl ph4 relative">
        <a class="pv4 db" id="typography"></a>
        <h4 class="pt5-l">Typography</h4>
        <div class="w-80-l w-100">
          <h2 class="pt4-l pt3 text-green mt0">Our type stack is an unlikely but balanced mix of approachability, innovation, and fun.</h2>
          <p class="lead">Our font families should be used for all communications, ensuring a consistent look and feel in all online and print literature.</p>
          <a href="https://fonts.google.com/" class="button button-green mv3">Download all Typefaces</a>
          <h5 class="f5 pt5-l pt4">Work Sans</h5>
          <p>Paragraphs</p>
          <p class="pb3">Work Sans is our primary paragraph typeface and is the most widely used. It is best for designs that are text heavy. Work Sans Regular is the default weight, and you can use Work Sans Semibold to highlight important text in lieu of italics.</p>
          <figure class="card ma0">
            <div class="ph3">
              <p class="f-subheadline-l f1 ma0">AaBbCc123</p>
              <p class="mt0">The quick brown fox jumps over the lazy dog. The wizard quickly jinxed the gnomes before they vaporized.</p>
            </div>
          </figure>
          <figcaption class="card card-bottom">
            <p class="ph3 mv0">Work Sans Regular</p>
          </figcaption>
          <figure class="card ma0 mt4">
            <div class="ph3">
              <p class="f-subheadline-l f1 ma0"><strong>AaBbCc123</strong></p>
              <p class="mt0"><strong>Bored?</strong> Craving a pub quiz fix? Why, just come to the <strong>Royal Oak</strong>! A very big box sailed up then whizzed quickly from Japan.</p>
            </div>
          </figure>
          <figcaption class="card card-bottom">
            <p class="ph3 mv0"><strong>Work Sans Semibold</strong></p>
          </figcaption>
          <p class="mt5">Subheadlines</p>
          <p class="pb3">Work Sans Semibold is used for subheadlines. It is set in uppercase letters and generally set in Gray from the color palette.</p>
          <figure class="card ma0">
            <div class="ph3">
              <h4 class="ma0"><strong>I am a subheadline</strong></h4>
            </div>
          </figure>
          <figcaption class="card card-bottom">
            <p class="ph3 mv0"><strong>Work Sans Semibold</strong></p>
            <p class="ph3 mv0">Text Transform: Uppercase<br>
              Color: Gray</p>
          </figcaption>
          <h5 class="f5 pt5-l pt4">Eczar Extra Bold</h5>
          <p class="pb3">Ezcar Extra Bold is our headline display typeface. It should be set in a large size in proportion to the other type in the design for impact and contrast. Depending on your design, Eczar is commonly shown in colors from the Accent Palette. Headlines are commonly written as sentences or phrases, and use sentence case. Some exceptions, such as one or two-word headline, can use title case.</p>
          <figure class="card ma0">
            <div class="ph3">
              <h1 class="f-subheadline-l f1 ma0 text-green">AaBbCc123</h1>
              <h2 class="mt0 text-green">As quirky joke, chefs won’t pay devil magic zebra tax.</h2>
            </div>
          </figure>
          <figcaption class="card card-bottom">
            <p class="ph3 mv0"><strong>Eczar Extra Bold</strong></p>
          </figcaption>
          <h5 class="f5 pt5-l pt4">Caveat Bold</h5>
          <p class="pb3">Caveat Bold, a handwriting typeface, introduces a human element to the type stack and design system, and is used the most sparingly. Because of its playful and spirited letterforms, do not overuse this typeface. Use your discretion when using it to denote words or short phrases that are better spoken with a human voice and tone, such as people’s names or adjectives describing the living experience. It is not intended for use in full sentences or paragraphs. It is always set in uppercase letters, with 2px tracking, and in an Accent Color.</p>
          <figure class="card ma0">
            <div class="ph3">
              <h1 class="f-subheadline ma0 text-green handwriting">abc123</h1>
              <h2 class="text-green">Foxy diva <span class="handwriting">Jennifer Lopez</span> wasn’t baking my quiche.</h2>
            </div>
          </figure>
          <figcaption class="card card-bottom">
            <p class="ph3 mv0"><strong>Caveat Bold</strong></p>
            <p class="ph3 mv0">Text Transform: Uppercase<br>
              Letter Spacing / Tracking: 2px</p>
          </figcaption>
        </div>
        <div class="w-80-ns w-100-m pt5">
          <h5 class="f5">Do&rsquo;s</h5>
        </div>
        <div class="w-100 card cf mb4">
          <div class="cf">
            <p class="dib pb3 do ml4-l ml1"><span class="handwriting text-green">DO</span> use proportionally large headline type</p>
          </div>
          <figure class="w-40 ma0 fl card card-full ml4-l ml1 mb3">
            <img src="/assets/img/type-do.png" class="db">
            <span class="tag tc">
              <img src="/assets/svg/icon-check.svg">
            </span>
          </figure>
          <figure class="w-40 ma0 fl card card-full ml4-l ml1 mb3">
            <img src="/assets/img/type-dont.png" class="db">
            <span class="tag tc">
              <img src="/assets/svg/icon-x.svg">
            </span>
          </figure>
        </div>
        <div class="w-100 card cf mb4">
          <div class="cf">
            <p class="dib pb3 do ml4-l ml1"><span class="handwriting text-green">DO</span> use the right casing for each type style</p>
          </div>
          <figure class="w-40 ma0 fl card card-full ml4-l ml1 mb3">
            <img src="/assets/img/type-do2.png" class="db">
            <span class="tag tc">
              <img src="/assets/svg/icon-check.svg">
            </span>
          </figure>
          <figure class="w-40 ma0 fl card card-full ml4-l ml1 mb3">
            <img src="/assets/img/type-dont2.png" class="db">
            <span class="tag tc">
              <img src="/assets/svg/icon-x.svg">
            </span>
          </figure>
          <figure class="w-40 ma0 fl card card-full ml4-l ml1 mv3">
            <img src="/assets/img/type-do3.png" class="db">
            <span class="tag tc">
              <img src="/assets/svg/icon-check.svg">
            </span>
          </figure>
          <figure class="w-40 ma0 fl card card-full ml4-l ml1 mv3">
            <img src="/assets/img/type-dont3.png" class="db">
            <span class="tag tc">
              <img src="/assets/svg/icon-x.svg">
            </span>
          </figure>
        </div>
        <div class="w-100 card cf mb4">
          <div class="cf">
            <p class="fl do ml4-l ml1">When in doubt, use Work Sans</p>
          </div>
        </div>
        <div class="w-80-ns w-100-m pt4">
          <h5 class="f5">Don&rsquo;ts</h5>
        </div>
        <div class="w-100 card cf mb4">
          <div class="cf">
            <p class="fl pb3 dont ml4-l ml1"><span class="handwriting text-red">Don&rsquo;t</span> run more than 9 or 10 words per line, it makes it harder to read</p>
          </div>
          <figure class="w-90 ma0 fl card card-full ml4-l ml1 mb3">
            <img src="/assets/img/type-do4.png" class="db">
            <span class="tag tc">
              <img src="/assets/svg/icon-check.svg">
            </span>
          </figure>
          <figure class="w-90 ma0 fl card card-full ml4-l ml1 mb3">
            <img src="/assets/img/type-dont4.png" class="db">
            <span class="tag tc">
              <img src="/assets/svg/icon-x.svg">
            </span>
          </figure>
        </div>
        <div class="w-100 card cf mb4">
          <div class="cf">
            <p class="fl pb3 dont ml4-l ml1"><span class="handwriting text-red">Don&rsquo;t</span> use the headline font for body text or vice versa</p>
          </div>
          <figure class="w-40 ma0 fl card card-full ml4-l ml1 mv3">
            <img src="/assets/img/type-dont5.png" class="db">
            <span class="tag tc">
              <img src="/assets/svg/icon-x.svg">
            </span>
          </figure>
          <figure class="w-40 ma0 fl card card-full ml4-l ml1 mv3">
            <img src="/assets/img/type-dont6.png" class="db">
            <span class="tag tc">
              <img src="/assets/svg/icon-x.svg">
            </span>
          </figure>
        </div>
      </div>
    </div>
  </section>
  <!-- End Typography -->
  <!-- Start Photo & Video -->
  <section class="cf ph4-ns relative z-0 admin-only">
    <div class="mw center">
      <div class="watercolor watercolor-yellow2 absolute top-4 ml6 mt6 left--50 rotate-30 w-100 z-1"></div>
      <div class="w-30-ns w-80 w-80-m fl ph4">&nbsp;</div>
      <div class="w-70-l w-100 fl ph4 relative z-1">
        <a class="pv4 db" id="photo"></a>
        <h4 class="pt5-l">Photography &amp; Video</h4>
        <div class="w-80-ns w-100-m">
          <h2 class="pt4-l pt3 text-yellow mt0">Photography is one of the best ways to uniquely communicate our brand.</h2>
          <p class="lead">Our spaces and the aesthetics of our communities are some of our biggest selling features. The images you choose should be compelling and reflective of the energy that is the heart of Starcity and our communities. Photographs of our communities and our members, team, and collaborators should feel vibrant and authentic.</p>
          <a href="https://drive.google.com/drive/folders/19hXnLeRyRPR5wBQpllclroZavfN4GfEM?usp=sharing" class="button button-yellow mv3">View Photo Library</a>
        </div>
        <div class="w-80-ns w-100-m mt6">
          <h5 class="f5">Styling</h5>
          <p class="pb4">If you are taking your own photos or choosing from stock, here are some basic guidelines. Our photographic subjects are mainly people, interiors, and neighborhoods. They should look natural, not contrived and without dramatization – aesthetic images that are rooted in the real world. </p>
          <h5 class="f5">People</h5>
          <p>Any external media referencing the community should include photos of people interacting, and candidly when possible. Use images of people engaging in Starcity hosted events and hanging out together in the home. This allows the viewer to connect with the community experience, and perceive the photo as an authentic snapshot into daily life at Starcity. Refrain from including group shots that are staged and when people are looking directly at the camera. </p>
        </div>
        <div class="w-100 pt4 cf">
          <div class="w-100 fl">
            <img src="/assets/img/photos/people1.jpg" class="db">
          </div>
          <div class="w-50 fl">
            <img src="/assets/img/photos/people2.jpg" class="db">
          </div>
          <div class="w-50 fl">
            <img src="/assets/img/photos/people5.jpg" class="db">
          </div>
          <div class="w-50 fl">
            <img src="/assets/img/photos/people10.jpg" class="db">
          </div>
          <div class="w-50 fl">
            <img src="/assets/img/photos/people3.jpg" class="db">
          </div>
        </div>
        <div class="w-80-ns w-100-m mt6">
          <h5 class="f5">Interiors</h5>
          <p>Interiors should feature well-lit, clean, and organized spaces. </p>
          <p>Feature the design and architecture of the space by shooting images with a wide angle lens and a sharp aperture. This allows the built environment to be represented as bright and as spacious as possible. </p>
          <p>For internal room marketing purposes, always showcase the room staged but without anyone in the room. Any marketing collateral using images representing our homes need to be shot professionally.</p>
          <p>Vignettes of design features can be used in social media and to focus on the attention to detail in our homes.</p>
        </div>
        <div class="w-100 pt4 cf">
          <div class="w-100 fl">
            <img src="/assets/img/photos/interior12.jpg" class="db">
          </div>
          <div class="w-50 fl">
            <img src="/assets/img/photos/interior11.jpg" class="db">
          </div>
          <div class="w-50 fl">
            <img src="/assets/img/photos/interior9.jpg" class="db">
          </div>
          <div class="w-third fl">
            <img src="/assets/img/photos/interior1.jpg" class="db">
          </div>
          <div class="w-third fl">
            <img src="/assets/img/photos/interior7.jpg" class="db">
          </div>
          <div class="w-third fl">
            <img src="/assets/img/photos/interior8.jpg" class="db">
          </div>
        </div>
        <div class="w-80-ns w-100-m mt6">
          <h5 class="f5">Neighborhoods</h5>
          <p>It’s important to represent and celebrate the unique character of each neighborhood we build in. Make sure to collect a variety of professionally taken “street scenes” that illustrate the culture, attractions and constituents of that neighborhood.</p>
        </div>
        <div class="w-100 pt4 cf">
          <div class="w-50 fl">
            <img src="/assets/img/photos/neighborhood5.jpg" class="db">
          </div>
          <div class="w-50 fl">
            <img src="/assets/img/photos/neighborhood8.jpg" class="db">
          </div>
          <div class="w-100 fl">
            <img src="/assets/img/photos/neighborhood4.jpg" class="db">
          </div>
          <div class="w-third fl">
            <img src="/assets/img/photos/neighborhood7.jpg" class="db">
          </div>
          <div class="w-third fl">
            <img src="/assets/img/photos/neighborhood3.jpg" class="db">
          </div>
          <div class="w-third fl">
            <img src="/assets/img/photos/neighborhood1.jpg" class="db">
          </div>
        </div>
        <div class="w-80-ns w-100-m mt6">
          <h5 class="f5">Do&rsquo;s</h5>
        </div>
        <div class="w-100 card cf mb4">
          <div class="cf">
            <p class="dib pb3 do ml4-l ml1"><span class="handwriting text-green">DO</span> use lots of natural lighting</p>
          </div>
          <figure class="w-40-ns w-80 ma0 fl card card-full ml4-l ml1 mb3">
            <img src="/assets/img/photos/interior3.jpg" class="db">
            <span class="tag tag-dark tc">
              <img src="/assets/svg/icon-check.svg">
            </span>
          </figure>
          <figure class="w-40-ns w-80 ma0 fl card card-full ml4-l ml1 mb3">
            <img src="/assets/img/photo-dont.jpg" class="db">
            <span class="tag tag-dark tc">
              <img src="/assets/svg/icon-x.svg">
            </span>
          </figure>
        </div>
        <div class="w-80-ns w-100-m pt4">
          <h5 class="f5">Don&rsquo;ts</h5>
        </div>
        <div class="w-100 card cf mb4">
          <div class="cf">
            <p class="fl pb3 dont ml4-l ml1">Avoid using images that are busy, out of focus, low res, or dark</p>
          </div>
          <figure class="w-40-ns w-80 ma0 fl card card-full ml4-l ml1 mb3">
            <img src="/assets/img/photo-dont2.jpg" class="db">
            <span class="tag tag-dark tc">
              <img src="/assets/svg/icon-x.svg">
            </span>
          </figure>
          <figure class="w-40-ns w-80 ma0 fl card card-full ml4-l ml1 mb3">
            <img src="/assets/img/photo-dont3.jpg" class="db">
            <span class="tag tag-dark tc">
              <img src="/assets/svg/icon-x.svg">
            </span>
          </figure>
          <figure class="w-40-ns w-80 ma0 fl card card-full ml4-l ml1 mb3">
            <img src="/assets/img/photo-dont4.jpg" class="db">
            <span class="tag tag-dark tc">
              <img src="/assets/svg/icon-x.svg">
            </span>
          </figure>
          <figure class="w-40-ns w-80 ma0 fl card card-full ml4-l ml1 mb3">
            <img src="/assets/img/photo-dont5.jpg" class="db">
            <span class="tag tag-dark tc">
              <img src="/assets/svg/icon-x.svg">
            </span>
          </figure>
        </div>
        <div class="w-100 card cf mb4">
          <div class="cf">
            <p class="fl dont ml4-l ml1"><span class="text-red handwriting">Don&rsquo;t</span> use unapproved photos</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Photo & Video -->
  <!-- Start Illustrations -->
  <section class="cf ph4-ns relative z-0 admin-only">
    <div class="mw center">
      <div class="watercolor watercolor-blue4 absolute top-0 left-0 w-100 z-0"></div>
      <div class="w-30-ns w-80 w-80-m fl ph4">&nbsp;</div>
      <div class="w-70-l w-100 fl ph4 relative z-1">
        <a class="pv4 db" id="illustration"></a>
        <h4 class="pt5-l">Illustration</h4>
        <div class="w-80-ns w-100-m">
          <h2 class="pt4-l pt3 text-blue mt0">Illustrations introduce whimsy and personality to our brand.</h2>
          <p class="lead">We employ a collection of illustrations that represent various things and services to reinforce copy, or just to add a splash of fun. </p>
          <a href="https://drive.google.com/drive/folders/1yxZQwZwVwTEc9HSWeQRq5_0hIkkejy7z?usp=sharing" class="button button-blue mv3">View Illustration Library</a>
          <h5 class="f5 pt5-l pt4">Iconography</h5>
          <p>Our illustration icons are straightforward and non-abstract representations of the object it is describing. We have a collection of iconography for our services to our members and our neighborhoods. Icons are always shown in colors from the Accent Palette. Here are a few examples of icons we use.</p>
        </div>
        <div class="cf mt5 tc">
          <div class="w-20 fl">
            <figure class="card ma0">
              <img src="/assets/svg/illustrations/arts-music.svg">
              <p class="mb0 ttu text-gray dib-l dn"><small><strong>Arts &amp; Music</strong></small></p>
            </figure>
          </div>
          <div class="w-20 fl">
            <figure class="card ma0 bl-l">
              <img src="/assets/svg/illustrations/bbq.svg">
              <p class="mb0 ttu text-gray dib-l dn"><small><strong>BBQ</strong></small></p>
            </figure>
          </div>
          <div class="w-20 fl">
            <figure class="card ma0 bl-l">
              <img src="/assets/svg/illustrations/building.svg">
              <p class="mb0 ttu text-gray dib-l dn"><small><strong>Building</strong></small></p>
            </figure>
          </div>
          <div class="w-20 fl">
            <figure class="card ma0 bl-l">
              <img src="/assets/svg/illustrations/cleaning-supplies.svg">
              <p class="mb0 ttu text-gray dib-l dn"><small><strong>Cleaning</strong></small></p>
            </figure>
          </div>
          <div class="w-20 fl">
            <figure class="card ma0 bl-l">
              <img src="/assets/svg/illustrations/coffee.svg">
              <p class="mb0 ttu text-gray dib-l dn"><small><strong>Coffee</strong></small></p>
            </figure>
          </div>
          <div class="w-20 fl">
            <figure class="card ma0 bl-t">
              <img src="/assets/svg/illustrations/dining.svg">
              <p class="mb0 ttu text-gray dib-l dn"><small><strong>Dining</strong></small></p>
            </figure>
          </div>
          <div class="w-20 fl">
            <figure class="card ma0 bl-l bl-t">
              <img src="/assets/svg/illustrations/door.svg">
              <p class="mb0 ttu text-gray dib-l dn"><small><strong>door</strong></small></p>
            </figure>
          </div>
          <div class="w-20 fl">
            <figure class="card ma0 bl-l bl-t">
              <img src="/assets/svg/illustrations/exercise.svg">
              <p class="mb0 ttu text-gray dib-l dn"><small><strong>exercise</strong></small></p>
            </figure>
          </div>
          <div class="w-20 fl">
            <figure class="card ma0 bl-l bl-t">
              <img src="/assets/svg/illustrations/food.svg">
              <p class="mb0 ttu text-gray dib-l dn"><small><strong>food</strong></small></p>
            </figure>
          </div>
          <div class="w-20 fl">
            <figure class="card ma0 bl-l bl-t">
              <img src="/assets/svg/illustrations/groceries.svg">
              <p class="mb0 ttu text-gray dib-l dn"><small><strong>groceries</strong></small></p>
            </figure>
          </div>
          <div class="w-20 fl">
            <figure class="card ma0 bl-t">
              <img src="/assets/svg/illustrations/key.svg">
              <p class="mb0 ttu text-gray dib-l dn"><small><strong>key</strong></small></p>
            </figure>
          </div>
          <div class="w-20 fl">
            <figure class="card ma0 bl-l bl-t">
              <img src="/assets/svg/illustrations/laundry.svg">
              <p class="mb0 ttu text-gray dib-l dn"><small><strong>laundry</strong></small></p>
            </figure>
          </div>
          <div class="w-20 fl">
            <figure class="card ma0 bl-l bl-t">
              <img src="/assets/svg/illustrations/outdoors.svg">
              <p class="mb0 ttu text-gray dib-l dn"><small><strong>outdoors</strong></small></p>
            </figure>
          </div>
          <div class="w-20 fl">
            <figure class="card ma0 bl-l bl-t">
              <img src="/assets/svg/illustrations/oven.svg">
              <p class="mb0 ttu text-gray dib-l dn"><small><strong>oven</strong></small></p>
            </figure>
          </div>
          <div class="w-20 fl">
            <figure class="card ma0 bl-l bl-t">
              <img src="/assets/svg/illustrations/stove.svg">
              <p class="mb0 ttu text-gray dib-l dn"><small><strong>Stove</strong></small></p>
            </figure>
          </div>
        </div>
        <div class="w-80-ns w-100-m mt5">
          <h5 class="f5 pt5-l pt4">Graphic Illustrations</h5>
          <p>For more illustrated layouts or to use accompanying text that requires more abstract representations, we have more detailed, larger illustrations.</p>
        </div>
        <div class="cf mt5 tc">
          <div class="w-third fl">
            <figure class="card ma0">
              <img src="/assets/svg/illustrations/sustainability.svg">
            </figure>
          </div>
          <div class="w-third fl">
            <figure class="card ma0 bl-l">
              <img src="/assets/svg/illustrations/neighborhood.svg">
            </figure>
          </div>
          <div class="w-third fl">
            <figure class="card ma0 bl-l">
              <img src="/assets/svg/illustrations/middle-class.svg">
            </figure>
          </div>
          <div class="w-third fl">
            <figure class="card ma0 bl-t">
              <img src="/assets/svg/illustrations/city.svg">
            </figure>
          </div>
          <div class="w-third fl">
            <figure class="card ma0 bl-l bl-t">
              <img src="/assets/svg/illustrations/city-people.svg">
            </figure>
          </div>
        </div>
        <div class="w-80-ns w-100-m mt6">
          <h5 class="f5">Textures &amp; Decorations</h5>
          <p>Our texture and decorative illustrations are meant to add fun and used similarly to our font Caveat &mdash; to add a human element. Please use sparingly to decorate text or images of people or neighborhoods. </p>
        </div>
        <div class="cf mt5 tc">
          <div class="w-100 fl">
            <figure class="card ma0 h6">
              <img src="/assets/svg/illustrations/sketches.svg">
            </figure>
          </div>
        </div>
        <div class="cf tc">
          <div class="w-25 fl">
            <figure class="card ma0 bl-t">
              <img src="/assets/img/circle-watercolor-yellow.jpg">
            </figure>
          </div>
          <div class="w-25 fl">
            <figure class="card ma0 bl-l bl-t">
              <img src="/assets/img/circle-watercolor-green.jpg">
            </figure>
          </div>
          <div class="w-25 fl">
            <figure class="card ma0 bl-l bl-t">
              <img src="/assets/img/circle-watercolor-purple.jpg">
            </figure>
          </div>
          <div class="w-25 fl">
            <figure class="card ma0 bl-l bl-t">
              <img src="/assets/img/circle-watercolor-blue.jpg">
            </figure>
          </div>
        </div>
        <div class="cf tc">
          <div class="w-100 fl">
            <figure class="card card-full ma0 h6 bl-t">
              <img src="/assets/img/bg-watercolor-blue.jpg">
            </figure>
          </div>
        </div>
        <div class="w-80-ns w-100-m mt6">
          <h5 class="f5">Do&rsquo;s</h5>
        </div>
        <div class="w-100 card cf mb4">
          <div class="cf">
            <p class="dib pb3 do ml4-l ml1"><span class="handwriting text-green">DO</span> use accent colors</p>
          </div>
          <figure class="w-40 ma0 fl card card-full ml4-l ml1 mb3">
            <img src="/assets/svg/illustration-do.svg" class="db">
            <span class="tag tc">
              <img src="/assets/svg/icon-check.svg">
            </span>
          </figure>
          <figure class="w-40 ma0 fl card card-full ml4-l ml1 mb3">
            <img src="/assets/svg/illustration-dont.svg" class="db">
            <span class="tag tc">
              <img src="/assets/svg/icon-x.svg">
            </span>
          </figure>
        </div>
        <div class="w-100 card cf mb4">
          <div class="cf">
            <p class="dib pb3 do ml4-l ml1"><span class="handwriting text-green">DO</span> choose to colors to match the layout</p>
          </div>
          <figure class="w-40 ma0 fl card card-full ml4-l ml1 mb3">
            <img src="/assets/img/illustration-do2.png" class="db">
            <span class="tag tc">
              <img src="/assets/svg/icon-check.svg">
            </span>
          </figure>
          <figure class="w-40 ma0 fl card card-full ml4-l ml1 mb3">
            <img src="/assets/img/illustration-dont2.png" class="db">
            <span class="tag tc">
              <img src="/assets/svg/icon-x.svg">
            </span>
          </figure>
        </div>
        <div class="w-80-ns w-100-m pt4">
          <h5 class="f5">Don&rsquo;ts</h5>
        </div>
        <div class="w-100 card cf mb4">
          <div class="cf">
            <p class="fl pb3 dont ml4-l ml1"><span class="text-red handwriting">Don&rsquo;t</span> use illustrations as primary graphic elements</p>
          </div>
          <figure class="w-90 ma0 fl card card-full ml4-l ml1 mb3">
            <img src="/assets/img/illustration-do.jpg" class="db">
            <span class="tag tc">
              <img src="/assets/svg/icon-check.svg">
            </span>
          </figure>
          <figure class="w-90 ma0 fl card card-full ml4-l ml1 mb3">
            <img src="/assets/img/illustration-dont3.jpg" class="db">
            <span class="tag tc">
              <img src="/assets/svg/icon-x.svg">
            </span>
          </figure>
        </div>
      </div>
    </div>
  </section>
  <!-- End Illustrations -->
  <!-- Start Lexicon -->
  <section class="cf ph4-ns relative z-0 admin-only">
    <div class="mw center">
      <div class="watercolor watercolor-purple absolute left-0 w-100 z-999 mt6"></div>
      <div class="w-30-ns w-80 w-80-m fl ph4">&nbsp;</div>
      <div class="w-70-l w-100 fl ph4 relative z-1">
        <a class="pv4 db" id="lexicon"></a>
        <h4 class="pt5-l">Lexicon</h4>
        <div class="w-80-ns w-100-m">
          <h2 class="pt4-l pt3 text-purple mt0">The language we use reflects our values, how we view our community, and the people we serve. </h2>
          <p class="lead">To that end we’ve adopted specific terminology that we use both externally and internally. Use only this terminology when discussing Starcity, its members, and its communities. </p>
        </div>
        <div class="w-100 cf mv4">
          <div class="w-50-l w-80 ma0 fl mb3">
            <h5 class="f5 handwriting text-purple mb0">Members</h5>
            <p>Not clients, tenants, or customers</p>
          </div>
          <div class="w-50-l w-80 ma0 fl mb3">
            <h5 class="f5 text-purple mb0 handwriting">License / Agreement</h5>
            <p>Not lease</p>
          </div>
          <div class="w-50-l w-80 ma0 fl mb3">
            <h5 class="f5 text-purple mb0 handwriting">Membership Fees / Dues</h5>
            <p>Not rent</p>
          </div>
          <div class="w-50-l w-80 ma0 fl mb3">
            <h5 class="f5 text-purple mb0 handwriting">Vertical Neighborhood</h5>
            <p>Not commune</p>
          </div>
          <div class="w-50-l w-80 ma0 fl mb3">
            <h5 class="f5 text-purple mb0 handwriting">Home</h5>
            <p>Coliving is also okay</p>
          </div>
          <div class="w-50-l w-80 ma0 fl mb3">
            <h5 class="f5 text-purple mb0 handwriting">Community</h5>
            <p>Not property or apartment (note: Community also refers to the members who live there)</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Lexicon -->
  <!-- Start Gallery -->
  <section class="cf ph4-ns relative z-0 admin-only">
    <div class="mw center">
      <div class="watercolor watercolor-blue absolute top-0 right-0 rotate-180 w-100 z-0 mt6"></div>
      <div class="w-30-ns w-80 w-80-m fl ph4">&nbsp;</div>
      <div class="w-70-l w-100 fl ph4 relative z-1">
        <a class="pv4 db" id="gallery"></a>
        <h4 class="pt5-l">Gallery</h4>
        <div class="w-80-ns w-100-m">
          <h2 class="pt4-l pt3 text-blue mt0">Our brand, come to life.</h2>
          <p class="lead">Here is a gallery of some designs that successfully bring together parts of our brand. These are examples of digital and print collateral in circulation.</p>
        </div>
        <div class="w-100 pt4 pb6 mb4 cf">
          <div class="w-60 fl">
            <img src="/assets/img/gallery/fieldguide2.jpg" class="db">
          </div>
          <div class="w-40 fl">
            <img src="/assets/img/gallery/tote.jpg" class="db">
          </div>
          <div class="w-50 fl">
            <img src="/assets/img/gallery/bizcard.jpg" class="db">
          </div>
          <div class="w-50 fl">
            <img src="/assets/img/gallery/field-guide.jpg" class="db">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Gallery -->

  <div class="z-max relative">
    <img class="w-100 lh-solid db" src="/assets/img/bg-watercolor-blue2.jpg">
  </div>
  <section class="tc pb5 pt3 hero bg-blue text-white z-max relative">
    <h2 class="w-40-ns w-80 w-80-m center mb0">
      <span class="relative dib">
        <svg class="dib-ns dn sketch white w2 right--3 nr4 right-0 top--3 nt3"> <use xlink:href="#asterisks" /></svg>
        <svg class="dib-l dn sketch white w2 right--3 top--2 nt3"> <use xlink:href="#curl" /></svg>
        <svg class="dib-l dn sketch white w2 left--3 top-0-l nt3 top--2"> <use xlink:href="#asterisks2" /></svg>
        <svg class="dib-l dn sketch white w3 left--2-l top-2-l top-0 left--3"> <use xlink:href="#curl3" /></svg>
        Download everything you need
      </span>
    </h2>
    <a href="/brand/downloads" class="button button-outline-white mt4">Assets &amp; Downloads</a>
  </section>
</main>
