<header id="header-scroll" class="animated o-0 header fixed ph4-ns pv0-l pv3 flex-l justify-between-l items-center-l z-max tc w-100">
  <a href="/" class="absolute relative-l left-2-m left-1 left-0-l">
    <span class="dn">Starcity</span>
    <img src="/assets/svg/logo-wordmark.svg" class="logo db-l dn">
    <img src="/assets/svg/logo-black.svg" class="logo dn-l db w2 nt1">
  </a>
  <nav class="nav">
    <a href="/brand/guidelines">Guidelines</a>
    <a href="/brand/downloads">Assets &amp; Downloads</a>
    <a href="/brand/press">Press Kit</a>
  </nav>
  <a href="#" class="menu-button db dn-l right-1 top-1 absolute nt1">Menu</a>
</header>
