<main>
  <div class="hero hero-watercolor-blue2 absolute w-100 z--1"></div>
  <section class="cf mw center ph4-ns pv6-l pb4 pt6">
    <div class="w-30-ns w-80 w-80-m fl ph4">
      &nbsp;
      <ul class="sidenav dib-l dn mt5-l mt3 fixed z-999">
        <li class="pl4"><a href="#about">about</a></li>
        <li class="pl4"><a href="#team">team</a></li>
        <li class="pl4"><a href="#timeline">Company Timeline</a></li>
        <li class="pl4"><a href="#news">news</a></li>
      </ul>
    </div>
    <div class="w-70-l w-100 fl ph4">
      <!-- Start about -->
      <a class="pv4 db" id="about"></a>
      <div class="w-80-ns w-100-m">
        <h2 class="pt3-l pt2 text-blue mt0">About Starcity</h2>
        <p class="lead"><strong>Starcity’s mission is to make living in great cities accessible to everyone.</strong> We’ll make the living arrangements delightful and sustainable so that people can stay in cities long-term. We will do this by redefining the meaning of home. Innovative interior-design that increases livable space and smart technology that reduces waste will be at our core. We are building our communities in a way that will reflect the diverse, eclectic nature of each city.</p>
        <p class="lead">Home is welcoming, relaxing and safe. Home is a group of respectful, warm, and empathetic people. Home is an inclusive, uplifting community. Welcome to Starcity.</p>
      </div>

      <!-- Start team -->

      <a class="pv4 db" id="team"></a>
      <div class="w-80-ns w-100-m mt6">
        <h2 class="pt4-l pt3 text-blue mt0">Team</h2>
        <p class="lead">We're a world-class team that's changing how cities are lived in. We've worked at Cushman & Wakefield, The Vault SF, UC Davis, Hack Reactor, and Unitus Impact.</p>
        <p class="lead">Here's more <a href="https://blog.starcity.com/who-we-are/">about the founders of Starcity</a>.</p>
      </div>
      <div class="w-100 mt5">
        <div class="cf">
          <div class="fl w-50-l w-100 pr4 pv4">
            <div class="cf relative">
              <svg class="sketch green w2 rotate-180 left--2 bottom--2"> <use xlink:href="#hair" /></svg>
              <img src="/assets/img/bio-jon.jpg" class="fl mask mask-circle3 w-50 w-30-m center tc br-100 dib nt4" alt="avatar">
              <svg class="sketch green w2 rotate-60 top--3 mt3 left-5"> <use xlink:href="#hair2" /></svg>
            </div>
            <h3 class="text-green handwriting mb0">Jon Dishotsky</h3>
            <h4 class="mt2">CEO &amp; CO-FOUNDER</h4>
            <p>Jon has lived in San Francisco since rent for an apartment was ~$1,000 (a long time ago). He grew up in Palo Alto, where his family fostered a communal lifestyle with people from around the world. They shacked up in the family’s cottage and developed a deep sense of (hippie) community spirit. At Starcity, Jon shapes company culture, finds and closes deals to grow Starcity's network of communal homes, identifies future growth opportunities, and handles public relations.</p>
          </div>
          <div class="fl w-50-l w-100 pl4 pv4">
            <div class="cf relative">
              <svg class="sketch blue w2 top--3 nt1 left--1"> <use xlink:href="#star" /></svg>
              <img src="/assets/img/bio-mo.jpg" class="fl mask mask-circle3 w-50 w-30-m center tc br-100 dib nt4" alt="avatar">
              <svg class="sketch blue w2 bottom--2 left-5 nt1"> <use xlink:href="#stars" /></svg>
            </div>
            <h3 class="text-blue handwriting mb0">Mohammad Sakrani</h3>
            <h4 class="mt2">CPO &amp; CO-FOUNDER</h4>
            <p>Mo has lived in shared, communal housing his entire life, from growing up in a tiny apartment with a family of six in NYC to his current San Francisco apartment that he shares with a group of four. At Starcity, Mo shapes the design aesthetic, manages software and physical product development, and works closely with our communities to address their needs.</p>
          </div>
        </div>
        <div class="cf">
          <div class="fl w-50-l w-100 pr4 pv4">
            <div class="cf relative">
              <svg class="sketch yellow w2 left-4 top--1 nt4 z-1"> <use xlink:href="#curl" /></svg>
              <img src="/assets/img/bio-jesse.jpg" class="fl mask mask-circle3 w-50 w-30-m center tc br-100 dib nt4 z-0" alt="avatar">
            </div>
            <h3 class="text-yellow handwriting mb0">Jesse Suarez</h3>
            <h4 class="mt2">COO &amp; CO-FOUNDER</h4>
            <p>Jesse lived in a communal house during his undergraduate days at UC Berkeley. There he learned the power of sharing resources and community interaction. Jesse was living in San Francisco until rent increases caused him to move east to Oakland. At Starcity, Jesse structures relationships with our many partners, handles financial operations and spearheads recruitment.</p>
          </div>
          <div class="fl w-50-l w-100 pl4 pv4">
            <div class="cf relative">
              <svg class="sketch purple w1 rotate-60 bottom--3"> <use xlink:href="#dots" /></svg>
              <img src="/assets/img/bio-josh.jpg" class="fl mask mask-circle3 w-50 w-30-m center tc br-100 dib nt4" alt="avatar">
              <svg class="sketch purple w1 top--3 left-5 rotate-300"> <use xlink:href="#dots2" /></svg>
            </div>
            <h3 class="text-purple handwriting mb0">Josh Lehman</h3>
            <h4 class="mt2">CTO &amp; CO-FOUNDER</h4>
            <p>Josh recently lived on a tiny sailboat for several weeks during a race from Port Townsend, Washington to Ketchikan, Alaska. He now lives in Oakland, though he's often found with his camera in Golden Gate Park, taking photos of everyday San Franciscans. At Starcity, Josh builds all of our software and handles smart-home tech integrations for our communal homes.</p>
          </div>
        </div>
      </div>
      <!-- End Team -->

      <!-- Start timeline -->

      <a class="pv4 db" id="timeline"></a>
      <h2 class="pv4-l pv3 text-blue mt0">Company Timeline</h2>
      <div class="cf pv4">
        <div class="w-20 fl">
          <div class="relative">
            <h5 class="handwriting f2 mv2 text-blue">2009</h5>
            <svg class="sketch blue w3 mt2 rotate-270 top-0 left-0"> <use xlink:href="#line" /></svg>
            <svg class="sketch blue w3 mt2 rotate-0 top--2 ml2 left-0"> <use xlink:href="#line-double" /></svg>
          </div>
        </div>
        <div class="w-60 fl-l fr">
          <p class="lead">Jesse &amp; Mo meet at UC Davis Law, become besties.</p>
        </div>
      </div>
      <div class="cf pv4">
        <div class="w-20 fl">
          <div class="relative">
            <h5 class="handwriting f2 mv2 text-blue">2013</h5>
            <svg class="sketch blue w3 mt2 rotate-90 top-1 left-0"> <use xlink:href="#line" /></svg>
            <svg class="sketch blue w2 mt2 rotate-240 top--3 nt2 left--2"> <use xlink:href="#hair" /></svg>
          </div>
        </div>
        <div class="w-60 fl-l fr">
          <p class="lead">Mo &amp; Jon meet during real estate deal. Jesse moves from LA to SF to join Mo.</p>
        </div>
      </div>
      <div class="cf pv4">
        <div class="w-20 fl">
          <div class="relative">
            <h5 class="handwriting f2 mv2 text-blue">2014</h5>
            <svg class="sketch blue w3 mt2 rotate-270 top-1 left-0"> <use xlink:href="#line3" /></svg>
            <svg class="sketch blue w4 mt2 rotate-0 top--3 left--1 nl2"> <use xlink:href="#burst2" /></svg>
          </div>
        </div>
        <div class="w-60 fl-l fr">
          <p class="lead">Josh working on a startup, looks to Jesse and Mo for fundraising advice.</p>
        </div>
      </div>
      <div class="cf pv4">
        <div class="w-20 fl">
          <div class="relative">
            <h5 class="handwriting f2 mv2 text-blue">2015</h5>
            <svg class="sketch blue w3 mt2 rotate-90 top-1 left-0"> <use xlink:href="#line" /></svg>
            <svg class="sketch blue w1 mt2 rotate-60 top--3 nt2 left--1"> <use xlink:href="#asterisks2" /></svg>
            <svg class="sketch blue w1 mt2 rotate-120 top--2 right-3"> <use xlink:href="#asterisks" /></svg>
          </div>
        </div>
        <div class="w-60 fl-l fr">
          <p class="lead">Jon resigns from career to go on vision quest.</p>
        </div>
      </div>
      <div class="cf pv4">
        <div class="w-20 fl">
          <div class="relative">
            <h5 class="handwriting f2 mv2 text-blue"><span class="f6">Jan - Mar</span><br>2016</h5>
            <svg class="sketch blue w3 mt2 rotate-90 top-3 left-0"> <use xlink:href="#line3" /></svg>
            <svg class="sketch blue w1 mt2 rotate-60 top--3 nt2 left--1"> <use xlink:href="#star" /></svg>
            <svg class="sketch blue w2 mt2 rotate-180 top-0 right-3"> <use xlink:href="#stars" /></svg>
          </div>
        </div>
        <div class="w-60 fl-l fr">
          <p class="lead">Jon conducts focus group with 700 participants to figure out housing solutions. Jon pursues Jesse, Mo &amp; Josh to co-found new venture, known as...</p>
        </div>
      </div>
      <div class="cf pv4">
        <div class="w-20 fl">
          <div class="relative">
            <h5 class="handwriting f2 mv2 text-blue"><span class="f6">May</span><br>2016</h5>
            <svg class="sketch blue w3 mt2 rotate-90 top-3 nt2 left-0"> <use xlink:href="#line3" /></svg>
            <svg class="sketch blue w3 mt2 rotate-0 top-0 ml3 left-0"> <use xlink:href="#line-double" /></svg>
          </div>
        </div>
        <div class="w-60 fl-l fr">
          <p class="lead mt3"><img src="/assets/svg/logo-wordmark.svg" class="w-40-l w-60 nl3"></p>
        </div>
      </div>
      <div class="cf pv4">
        <div class="w-20 fl">
          <div class="relative">
            <h5 class="handwriting f2 mv0 text-blue"><span class="f6">June</span><br>2016</h5>
            <svg class="sketch blue w3 mt2 rotate-90 top-3 nt2 left-0"> <use xlink:href="#line" /></svg>
            <svg class="sketch blue w2 mt2 rotate-240 top--3 nt2 left--2"> <use xlink:href="#hair" /></svg>
            <svg class="sketch blue w2 mt2 rotate-150 top-1 left-3"> <use xlink:href="#hair2" /></svg>
          </div>
        </div>
        <div class="w-60 fl-l fr">
          <p class="lead mt4">Founders accepted into Y Combinator with just a team and a dream.</p>
        </div>
      </div>
      <div class="cf pv4">
        <div class="w-20 fl">
          <div class="relative">
            <h5 class="handwriting f2 mv0 text-blue"><span class="f6">July</span><br>2016</h5>
            <svg class="sketch blue w3 mt2 rotate-90 top-3 left-0"> <use xlink:href="#line3" /></svg>
            <svg class="sketch blue w3 mt2 rotate-0 top-0 left-0"> <use xlink:href="#line3" /></svg>
          </div>
        </div>
        <div class="w-60 fl-l fr">
          <p class="lead mt4">Groundbreaking on prototype at 52 Gilbert Street, San Francisco.</p>
        </div>
      </div>
      <div class="cf pv4">
        <div class="w-20 fl">
          <div class="relative">
            <h5 class="handwriting f2 mv2 text-blue"><span class="f6">Sep</span><br>2016</h5>
            <svg class="sketch blue w3 mt2 rotate-270 top-3 left-0"> <use xlink:href="#line" /></svg>
            <svg class="sketch blue w1 mt2 rotate-210 top-0 ml2 left-3"> <use xlink:href="#dots" /></svg>
            <svg class="sketch blue w1 mt2 rotate-60 top--3 nt2 left--1"> <use xlink:href="#asterisks2" /></svg>
          </div>
        </div>
        <div class="w-60 fl-l fr">
          <p class="lead">Founders graduated from Y Combinator which culminated in the raising of an initial seed round closed in late 2016 from <a href="https://angel.co/starcity">NEA, Social Capital, and a bunch of other great investors</a>. </p>
        </div>
      </div>
      <div class="cf pv4">
        <div class="w-20 fl">
          <div class="relative">
            <h5 class="handwriting f2 mv2 text-blue"><span class="f6">Nov</span><br>2016</h5>
            <svg class="sketch blue w3 mt2 rotate-270 top-3 nt2 left-0"> <use xlink:href="#line3" /></svg>
            <svg class="sketch blue w1 mt2 rotate-330 top--3 left-2 ml3"> <use xlink:href="#curl" /></svg>
            <svg class="sketch blue w1 mt2 rotate-0 top-0 left--2"> <use xlink:href="#dots2" /></svg>
          </div>
        </div>
        <div class="w-60 fl-l fr">
          <p class="lead mt4">Prototype location opens for business, first members move in. </p>
        </div>
      </div>
      <div class="cf pv4">
        <div class="w-20 fl">
          <div class="relative">
            <h5 class="handwriting f2 mv2 text-blue"><span class="f6">Jan</span><br>2017</h5>
            <svg class="sketch blue w3 mt2 rotate-0 top-1 nt1 ml2 left-0"> <use xlink:href="#line-double" /></svg>
          </div>
        </div>
        <div class="w-60 fl-l fr mt3">
          <p class="lead mt4">Employee #1 Meg Bell begins work</p>
        </div>
      </div>

      <!-- End timeline -->

      <!-- Start news -->
      <a class="pv4 db" id="news"></a>
      <div class="w-80-ns w-100-m">
        <h2 class="pt6-l pt4 text-blue mt0">News</h2>
      </div>
      <div class="cf">
        <div class="block-link fl w-80-l w-100 pv4 card card-large card-white card-hover mv4" >
          <span class="relative dib">
            <img src="http://static6.businessinsider.com/image/597a0333b50ab127008b4b0a-2400/bilightbackgroundcolorhorizontal.png" class="w-50 nl3" alt="avatar">
          </span>
          <h2 class="mb0 text-blue">
            <a href="http://www.businessinsider.com/a-startup-is-creating-communal-housing-for-middle-class-workers-2017-12">
            A startup is turning old hotels into dorm-like housing for San Francisco's forgotten middle class — here's what it's like inside
            </a>
          </h2>
          <h4 class="mt3 mb4">Business Insider | December 1, 2017</h4>
          <p class="text-black">
            The booming tech industry has caused an ongoing housing crisis in San Francisco, and longtime middle-income residents have been forced out by sky-high housing costs.
          </p>
        </div>
        <div class="block-link fl w-80-l w-100 pv4 card card-large card-white card-hover mv4">
          <span class="relative dib">
            <img src="https://s3.amazonaws.com/cms.mng/500x80_TMN_logo.png" class="w-50 nl3" alt="avatar">
          </span>
          <h2 class="mb0 text-blue">
            <a href="http://www.mercurynews.com/2017/11/06/meet-startups-fighting-silicon-valleys-soaring-housing-costs/">
              Meet the startups fighting Bay Area’s soaring housing costs
            </a>
          </h2>
          <h4 class="mt3 mb4">Mercury News | November 7, 2017</h4>
          <p class="text-black">An emerging group of local entrepreneurs is taking up arms against the sky-high cost of living in the Bay Area, hoping to end once and for all the housing crisis crippling the region.</p>
        </div>
        <div class="block-link fl w-80-l w-100 pv4 card card-large card-white card-hover mv4">
          <span class="relative dib">
            <img src="https://modernluxury.com/sites/default/files/imagecache/pub_logo/logos/modern-luxury-silicon-valley.jpg" class="w-50">
          </span>
          <h2 class="mb0 text-blue">
            <a href="https://modernluxury.com/silicon-valley/story/group-effort">
              Group Effort
            </a>
          </h2>
          <h4 class="mt3 mb4">Modern Luxury | October 5, 2017</h4>
          <p class="text-black">A Peninsula native aims to shake up the real estate industry. Despite having grown up in suburban Palo Alto, Jon Dishotsky got used to communal living from a young age.</p>
        </div>
        <div class="block-link fl w-80-l w-100 pv4 card card-large card-white card-hover mv4">
          <span class="relative dib">
            <img src="http://www.sfchronicle.com/img/modules/siteheader/logos/logo_section_large_2x.png" class="w-50" alt="avatar">
          </span>
          <h2 class="mb0 text-blue">
            <a href="http://www.sfchronicle.com/bayarea/article/Starcity-turning-commercial-buildings-into-group-11192980.php">
              Starcity turning commercial buildings into group housing
            </a>
          </h2>
          <h4 class="mt3 mb4">SF Chronicle | June 3, 2017</h4>
          <p class="text-black">A new way for San Francisco to create entry-level housing is taking shape in an old building on a forgotten block — an old bathhouse on the edge of the Tenderloin.</p>
        </div>
      </div>
      <!-- End News -->


    </div>
  </section>
  <div class="z-max relative">
    <img class="w-100 lh-solid db" src="/assets/img/bg-watercolor-blue2.jpg">
  </div>
  <section class="tc pb5 pt3 hero bg-blue text-white z-max relative">
    <h2 class="w-40-ns w-80 w-80-m center mb0">
      <span class="relative dib">
        <svg class="dib-l dn sketch white w2 right--3 nr4 right-0 top--3 nt3"> <use xlink:href="#asterisks" /></svg>
        <svg class="dib-l dn sketch white w2 right--3 top--2 nt3"> <use xlink:href="#curl" /></svg>
        <svg class="dib-l dn sketch white w2 left--3 top-0-l nt3 top--2"> <use xlink:href="#asterisks2" /></svg>
        <svg class="dib-l dn sketch white w3 left--2-l top-2-l top-0 left--3"> <use xlink:href="#curl3" /></svg>
        Need logos or press photos? Check out the Downloads page.
      </span>
    </h2>
    <a href="/brand/downloads" class="button button-outline-white mt4">Assets &amp; Downloads</a>
  </section>
</main>
